Repository gem5/gem5, pull requests merged in 2023-10, with the labels that each got.

#369 python: Add importer to standalone gem5py_m5
  src/SConscript
  src/python/gem5py_m5.cc
Labels: python

#381 arch-riscv: FS bits -> DIRTY for more floating point loads
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#357 arch: Add instruction size and PC set methods
  src/arch/arm/decoder.hh
  src/arch/arm/insts/pred_inst.hh
  src/arch/generic/pcstate.hh
  src/arch/riscv/decoder.cc
  src/arch/riscv/insts/static_inst.hh
  src/arch/x86/decoder.cc
  src/arch/x86/insts/macroop.hh
  src/cpu/static_inst.hh
Labels: arch

#399 arch-riscv: Implement Zcb instructions
  src/arch/riscv/isa/bitfields.isa
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/compressed.isa
Labels: arch-riscv

#391 gpu-compute: Fix dynamic scratch size test
  src/gpu-compute/gpu_command_processor.hh
Labels: gpu, gpu-compute

#334 arch-arm: Implement FEAT_FGT
  src/arch/arm/ArmSystem.py
  src/arch/arm/isa/insts/branch64.isa
  src/arch/arm/isa/insts/data64.isa
  src/arch/arm/isa/insts/misc.isa
  src/arch/arm/isa/insts/misc64.isa
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/types.hh
  src/arch/arm/utility.cc
  src/arch/arm/utility.hh
Labels: arch-arm

#191 resources, stdlib: Adding 'suite' category to gem5
  configs/example/gem5_library/riscvmatched-microbenchmark-suite.py
  src/python/gem5/resources/resource.py
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
  tests/pyunit/stdlib/resources/pyunit_suite_checks.py
  tests/pyunit/stdlib/resources/refs/suite-checks.json
Labels: resources, stdlib

#389 configs: Add configurable GPU L1,L2 num banks and L2 latencies
  configs/ruby/GPU_VIPER.py
Labels: configs, gpu-compute

#177 mem-ruby: Add new feature far atomics in CHI
  configs/example/ruby_mem_test.py
  configs/ruby/CHI_config.py
  src/arch/arm/isa/insts/amo64.isa
  src/cpu/testers/memtest/MemTest.py
  src/cpu/testers/memtest/memtest.cc
  src/cpu/testers/memtest/memtest.hh
  src/mem/request.hh
  src/mem/ruby/protocol/RubySlicc_Types.sm
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
  src/mem/ruby/slicc_interface/RubyRequest.cc
  src/mem/ruby/slicc_interface/RubyRequest.hh
  src/mem/ruby/system/Sequencer.cc
  src/mem/ruby/system/Sequencer.hh
Labels: mem-ruby

#371 util: Update the GitHub Self-Hosted Runners
  util/github-runners-vagrant/README.md
  util/github-runners-vagrant/Vagrantfile
  util/github-runners-vagrant/Vagrantfile-builder
  util/github-runners-vagrant/Vagrantfile-runner
  util/github-runners-vagrant/action-run.sh
  util/github-runners-vagrant/provision_nonroot.sh
  util/github-runners-vagrant/provision_root.sh
  util/github-runners-vagrant/vm_manager.sh
Labels: util, github

#407 mem-ruby: Far atomics fix
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
Labels: mem-ruby

#343 sim-se: zero out memory allocated via brk()
  src/sim/mem_state.cc
  src/sim/mem_state.hh
Labels: sim-se

#411 cpu-kvm, arch-x86: flush TLB after syscalls
  src/arch/x86/process.cc
Labels: cpu-kvm, arch-x86

#414 arch-arm: Implement FEAT_TLBIRANGE extension
  src/arch/arm/ArmSystem.py
  src/arch/arm/insts/misc64.cc
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/pagetable.hh
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/tlbi_op.cc
  src/arch/arm/tlbi_op.hh
  src/arch/arm/utility.hh
Labels: arch-arm

#402 stdlib: Del comment stating SE mode limited to single thread
  src/python/gem5/components/boards/se_binary_workload.py
Labels: stdlib

#151 New function to kernel_disk_workload to allow new disk device location
  src/python/gem5/components/boards/arm_board.py
  src/python/gem5/components/boards/experimental/lupv_board.py
  src/python/gem5/components/boards/kernel_disk_workload.py
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/components/boards/x86_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
Labels: stdlib

#423 misc,python: Add yaml formatter to pre commit
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/utils.yaml
  .github/workflows/weekly-tests.yaml
  .pre-commit-config.yaml
  MAINTAINERS.yaml
  util/dockerfiles/docker-compose.yaml
Labels: misc, python

#425 configs,tests: Remove `mkdir` in simpoint-se-checkpoint.py
  configs/example/gem5_library/checkpoints/simpoints-se-checkpoint.py
Labels: bug, tests, configs

#430 arch-arm: Make interrupt masking handle VHE/SEL2 cases
  src/arch/arm/interrupts.cc
  src/arch/arm/interrupts.hh
Labels: arch-arm

#377 dev-amdgpu,mem-ruby: Add support to checkpoint and restore between kernels in GPUFS
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/system.py
  src/dev/amdgpu/pm4_packet_processor.cc
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
  src/mem/ruby/slicc_interface/AbstractController.hh
  src/mem/ruby/system/CacheRecorder.cc
  src/mem/ruby/system/CacheRecorder.hh
  src/mem/ruby/system/GPUCoalescer.cc
  src/mem/ruby/system/GPUCoalescer.hh
  src/mem/ruby/system/RubySystem.cc
  src/mem/ruby/system/VIPERCoalescer.cc
  src/mem/ruby/system/VIPERCoalescer.hh
Labels: mem-ruby, gpu

#417 tests: Update test workflows for new runners
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
  util/github-runners-vagrant/Vagrantfile
Labels: tests, util, github

#422 misc,python: Add `requirements-txt-fixer` to pre-commit
  .pre-commit-config.yaml
  requirements.txt
  util/gem5-resources-manager/requirements.txt
Labels: misc, python

#401 Learning-gem5: fix formatting
  configs/learning_gem5/part1/simple-arm.py
  configs/learning_gem5/part1/simple-riscv.py
  configs/learning_gem5/part1/simple.py
  configs/learning_gem5/part1/two_level.py
  configs/learning_gem5/part2/hello_goodbye.py
  configs/learning_gem5/part2/run_simple.py
  configs/learning_gem5/part2/simple_cache.py
  configs/learning_gem5/part2/simple_memobj.py
Labels: learning-gem5

#404 stdlib: Improve handing of errors in Atlas request failures
  src/python/gem5/resources/client_api/abstract_client.py
  src/python/gem5/resources/client_api/atlasclient.py
  src/python/gem5/resources/client_api/client_wrapper.py
  tests/pyunit/stdlib/resources/pyunit_client_wrapper_checks.py
Labels: resources, stdlib

#416 arch-arm: Implement FEAT_TCR2 and FEAT_SCTLR2
  src/arch/arm/ArmSystem.py
  src/arch/arm/isa.cc
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/utility.cc
  src/arch/arm/utility.hh
Labels: arch-arm

#408 gpu-compute: Update tokens for flat global/scratch
  src/arch/amdgpu/vega/insts/instructions.cc
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/gpu_dyn_inst.hh
  src/gpu-compute/schedule_stage.cc
  src/gpu-compute/wavefront.cc
Labels: arch-vega, gpu-compute

#433 configs: GPUFS option to disable KVM perf counters
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/system.py
Labels: cpu-kvm, gpu

#438 arch-vega: Ignore s_setprio instruction instead of panic
  src/arch/amdgpu/vega/insts/instructions.cc
Labels: gpu, arch-vega

#444 misc,tests: Add dummy jobs to workflows for status checks
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#429 cpu: Refactor indirect predictor
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/indirect.hh
  src/cpu/pred/simple_indirect.cc
  src/cpu/pred/simple_indirect.hh
Labels: cpu

#448 mem-ruby: Update cache recorder to use RubyPort and remove BUILD_GPU guards
  src/mem/ruby/slicc_interface/AbstractController.hh
  src/mem/ruby/system/CacheRecorder.cc
  src/mem/ruby/system/CacheRecorder.hh
  src/mem/ruby/system/GPUCoalescer.hh
  src/mem/ruby/system/RubySystem.cc
  src/mem/ruby/system/VIPERCoalescer.hh
Labels: mem-ruby, gpu

#367 mem-ruby: Always pass on GPU atomics to dir in write-through TCC
  configs/ruby/GPU_VIPER.py
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
Labels: gpu

#458 misc: Copy .github directory from develop to stable
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/utils.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#457 configs: Fix missing param exchange for GPUFS
  configs/ruby/GPU_VIPER.py
Labels: configs, gpu

#364 arch-arm: Remove Jazelle state + ThumbEE support
  src/arch/arm/fastmodel/CortexA76/thread_context.cc
  src/arch/arm/fastmodel/CortexR52/thread_context.cc
  src/arch/arm/fastmodel/iris/thread_context.cc
  src/arch/arm/faults.cc
  src/arch/arm/isa.cc
  src/arch/arm/isa/formats/branch.isa
  src/arch/arm/isa/insts/data.isa
  src/arch/arm/isa/insts/macromem.isa
  src/arch/arm/isa/insts/misc.isa
  src/arch/arm/isa/operands.isa
  src/arch/arm/pcstate.hh
  src/arch/arm/process.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/tracers/tarmac_base.cc
Labels: arch-arm

#329 cpu: Explicitly define cache_line_size -> 64-bit unsigned int
  src/cpu/base.cc
  src/cpu/base.hh
  src/cpu/minor/fetch1.hh
  src/cpu/minor/lsq.hh
  src/cpu/o3/fetch.hh
  src/cpu/testers/memtest/memtest.hh
  src/cpu/trace/trace_cpu.cc
  src/cpu/trace/trace_cpu.hh
  src/dev/dma_device.hh
  src/learning_gem5/part2/simple_cache.hh
  src/mem/port_proxy.cc
  src/mem/port_proxy.hh
  src/mem/snoop_filter.hh
  src/sim/system.hh
Labels: sim, mem, cpu, dev

#465 cpu, arch-arm: Add IsPseudo tag for gem5 pseudo instructions
  src/arch/arm/isa/insts/m5ops.isa
  src/cpu/StaticInstFlags.py
  src/cpu/static_inst.hh
Labels: arch-arm, cpu

#459 arch-arm: Fix line-length error in misc.cc
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#460 util: Fix runners to extent to max disk size
  util/github-runners-vagrant/provision_root.sh
Labels: util, github

#466 stdlib,resources: Generalize exception for request retry
  src/python/gem5/resources/client_api/atlasclient.py
Labels: resources, stdlib

#463 arch-riscv: Mark vector configuration insts as vector insts
  src/arch/riscv/insts/vector.hh
Labels: arch-riscv

#376 arch-riscv: Change to VS bits to DIRTY for rvv insts changing vregs
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#468 arch-arm: Fix (other) line-length errors
  src/arch/arm/isa/insts/branch64.isa
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#470 util: Improve GitHub Action runners: Enable KVM; Better Cleanup; Better Tooling
  util/github-runners-vagrant/Vagrantfile
  util/github-runners-vagrant/action-run.sh
  util/github-runners-vagrant/halt-helper.sh
  util/github-runners-vagrant/provision_root.sh
Labels: tests, util, cpu-kvm, github

#477 tests: Changed percent atomics to 0 in memtest to fix daily test
  src/cpu/testers/memtest/MemTest.py
Labels: tests

#479 arch-riscv: Copy Misc Regs when swiching cpus
  src/arch/riscv/isa.cc
Labels: arch-riscv

#418 docker-images: Use GitHub Container Registry
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
  tests/deprecated/compiler-tests.sh
  tests/deprecated/jenkins/presubmit.sh
  tests/deprecated/nightly.sh
  tests/deprecated/weekly.sh
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/gcn-gpu/Dockerfile
  util/dockerfiles/gem5-all-min-dependencies/Dockerfile
  util/dockerfiles/gpu-fs/Dockerfile
  util/dockerfiles/llvm-gnu-cross-compiler-riscv64/Dockerfile
  util/dockerfiles/sst/Dockerfile
  util/dockerfiles/systemc-2.3.3/Dockerfile
  util/dockerfiles/ubuntu-20.04_gcc-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_clang-16/Dockerfile
  util/dockerfiles/ubuntu-22.04_clang-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_gcc-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_min-dependencies/Dockerfile
Labels: util-docker

#256 misc: Add LULESH GPU tests
  .github/workflows/gpu-tests.yaml
Labels: gpu

#485 misc: Copy .github directory from develop to stable
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#171 arch-riscv: Add dynamic VLEN and ELEN configuration support to RVV path
  src/arch/generic/memhelpers.hh
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/decoder.cc
  src/arch/riscv/decoder.hh
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/formats/vector_conf.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/arch/riscv/pcstate.hh
  src/arch/riscv/regs/vector.hh
  src/arch/riscv/types.hh
  src/arch/riscv/utility.hh
  util/cpt_upgraders/riscv-dyn-vlen.py
Labels: arch-riscv

#489 mem,tests: Set Ruby Mem Test atomic percent to 0
  configs/example/ruby_mem_test.py
Labels: bug, tests, mem

#488 misc: Fix weekly-tests.yaml container uris
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#486 arch-arm: Fix KVM Failed to set register (0x603000000013808c)
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#495 misc: Merge develop .github dir to stable
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#496 util: Add 'sudo' to rm WORK_DIR command
  util/github-runners-vagrant/action-run.sh
Labels: util, github

#497 misc: Add GitHub Runner API rate limiting
  util/github-runners-vagrant/action-run.sh
Labels: github

#455 cpu: Branch Predictor Refactoring
  src/cpu/pred/2bit_local.cc
  src/cpu/pred/2bit_local.hh
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/SConscript
  src/cpu/pred/bi_mode.cc
  src/cpu/pred/bi_mode.hh
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
  src/cpu/pred/loop_predictor.cc
  src/cpu/pred/loop_predictor.hh
  src/cpu/pred/ltage.cc
  src/cpu/pred/ltage.hh
  src/cpu/pred/multiperspective_perceptron.cc
  src/cpu/pred/multiperspective_perceptron.hh
  src/cpu/pred/multiperspective_perceptron_tage.cc
  src/cpu/pred/multiperspective_perceptron_tage.hh
  src/cpu/pred/tage.cc
  src/cpu/pred/tage.hh
  src/cpu/pred/tage_sc_l.cc
  src/cpu/pred/tage_sc_l.hh
  src/cpu/pred/tournament.cc
  src/cpu/pred/tournament.hh
Labels: cpu

#475 misc: Fix spelling error in MAINTAINERS.yaml
  MAINTAINERS.yaml
Labels: misc

#500 arch-riscv: Move RVV implementation from header to source
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/includes.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#515 arch-arm: Set UNCACHEABLE flag in Request in SE mode
  src/arch/arm/mmu.cc
Labels: arch-arm

#511 arch-riscv: Correct BootloaderKernelWorkload symbol table
  src/arch/riscv/linux/fs_workload.cc
Labels: arch-riscv

#514 mem-ruby, stdlib: Far atomics fix
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/python/gem5/components/cachehierarchies/chi/nodes/abstract_node.py
  src/python/gem5/components/cachehierarchies/chi/nodes/directory.py
  src/python/gem5/components/cachehierarchies/chi/nodes/dma_requestor.py
  src/python/gem5/components/cachehierarchies/chi/nodes/private_l1_moesi_cache.py
Labels: stdlib, mem-ruby

#464 arch-riscv: Dynamically add V extension to device tree
  src/arch/riscv/RiscvISA.py
  src/dev/riscv/HiFive.py
  src/python/gem5/components/boards/experimental/lupv_board.py
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_core.py
Labels: arch-riscv
