Repository gem5/gem5, pull requests merged in 2023-11, with the labels that each got.

#519 arch-riscv: Fix line length of CSRData declaration
  src/arch/riscv/regs/misc.hh
Labels: arch-riscv

#498 gpu-compute,dev-hsa: ROCm 5.5+ support
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/amdgpu_device.hh
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/hsa/hsa_packet.hh
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
  src/gpu-compute/hsa_queue_entry.hh
Labels: gpu, dev-hsa, gpu-compute

#541 arch-arm,kvm: Fix copy-paste error
  src/arch/arm/kvm/arm_cpu.hh
Labels: arch-arm

#530 mem-ruby, gpu-compute: update GPU L1I$ MRU info
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
Labels: mem-ruby, gpu-compute

#507 configs,ext: gem5 SST bridge calls m5.instantiate() in gem5
  configs/example/sst/arm_fs.py
  configs/example/sst/riscv_fs.py
  ext/sst/gem5.cc
  ext/sst/gem5.hh
Labels: configs, ext

#397 mem-ruby: SLICC Fixes to GLC Atomics in WB L2
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby, gpu-compute

#537 mem-ruby: update RubyRequest print to include GPU fields
  src/mem/ruby/slicc_interface/RubyRequest.cc
Labels: mem-ruby, gpu-compute

#517 arch-riscv: Fixing CMO instructions and allowing using CMO instructions in FS mode
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/insts/mem.cc
  src/arch/riscv/isa/formats/mem.isa
  src/python/gem5/components/boards/riscv_board.py
Labels: arch-riscv

#512 base,sim: Add the SymbolType field to the Symbol object
  src/arch/riscv/linux/fs_workload.cc
  src/base/loader/elf_object.cc
  src/base/loader/symtab.cc
  src/base/loader/symtab.hh
  src/base/loader/symtab.test.cc
  src/sim/pseudo_inst.cc
Labels: base, sim

#538 mem-ruby, gpu-compute: fix GPU SQC/TCP Ruby formatting
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
Labels: mem-ruby, gpu-compute

#561 mem-ruby: fix hex print in CacheMemory
  src/mem/ruby/structures/CacheMemory.cc
Labels: mem-ruby

#529 gpu-compute: Fix typo with GPUTLB print
  src/arch/amdgpu/common/tlb_coalescer.cc
Labels: gpu-compute

#535 mem-ruby, gpu-compute: fix typo in GPU coalescer deadlock print
  src/mem/ruby/system/GPUCoalescer.cc
Labels: mem-ruby, gpu-compute

#536 mem-ruby, gpu-compute: fix formatting of TCC
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby, gpu-compute

#556 tests,util-docker: Remove gcc 9 support
  .github/workflows/compiler-tests.yaml
  util/dockerfiles/docker-compose.yaml
  util/dockerfiles/ubuntu-20.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-20.04_gcc-version/Dockerfile
Labels: tests, util-docker, github

#552 cpu: Remove SLC bit restraint for GPU tester
  src/cpu/testers/gpu_ruby_test/gpu_wavefront.cc
Labels: gpu, cpu

#432 tests,misc: Add "build/ALL/gem5.fast" Clang compilation to CI
  .github/workflows/ci-tests.yaml
Labels: tests, github, misc

#120 mem-ruby,configs: Add GPU GLC Atomic Resource Constraints
  configs/ruby/GPU_VIPER.py
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/RubySlicc_Exports.sm
  src/mem/ruby/structures/ALUFreeListArray.cc
  src/mem/ruby/structures/ALUFreeListArray.hh
  src/mem/ruby/structures/CacheMemory.cc
  src/mem/ruby/structures/CacheMemory.hh
  src/mem/ruby/structures/RubyCache.py
  src/mem/ruby/structures/SConscript
Labels: configs, mem-ruby, gpu

#563 tests,gpu-compute: Fix Lulesh 'Obtain LULESH' step
  .github/workflows/gpu-tests.yaml
Labels: tests, gpu-compute

#562 tests: Remove multiple suites per job for Weekly tests
  .github/workflows/weekly-tests.yaml
Labels: tests, github

#566 misc: Merge develop .github dir to stable
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github, misc

#565 gpu-compute: Minor edits for atomic no returns and stores
  src/mem/ruby/system/GPUCoalescer.cc
Labels: gpu-compute

#554 arch-riscv: Move fault handler addr logic to ISA
  src/arch/riscv/faults.cc
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
Labels: arch-riscv

#540 mem-ruby, gpu-compute: fix SQC/TCP requests to same line
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-msg.sm
  src/mem/ruby/system/GPUCoalescer.cc
Labels: mem-ruby, gpu-compute

#545 mem-ruby: AtomicNoReturn should check comp_anr instead of comp_wu
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
Labels: mem-ruby

#564 mem-cache: Prefetchers Improvements
  src/mem/cache/Cache.py
  src/mem/cache/prefetch/Prefetcher.py
  src/mem/cache/prefetch/base.cc
  src/mem/cache/prefetch/queued.cc
  src/mem/cache/prefetch/stride.cc
  src/mem/cache/prefetch/stride.hh
Labels: mem, classic caches

#571 util: Bump GPUFS build docker to 5.4.2
  util/dockerfiles/gpu-fs/Dockerfile
Labels: util-docker, gpu

#582 dev: Fix `std::min` type mismatch in reg_bank.hh
  src/dev/reg_bank.hh
Labels: bug, compilation error, dev

#570 dev-amdgpu: Add VMID map to checkpoint
  src/dev/amdgpu/amdgpu_device.cc
Labels: gpu-compute

#585 mem-ruby: Fixes for new AtomicWait event in VIPER TCC
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby, gpu

#584 arch-arm: Fix Virtual Interrupt logic in secure mode
  src/arch/arm/interrupts.cc
  src/arch/arm/interrupts.hh
  src/arch/arm/regs/misc_types.hh
Labels: arch-arm

#581 mem-cache: Revert "Prefetchers Improvements"
  src/mem/cache/Cache.py
  src/mem/cache/prefetch/Prefetcher.py
  src/mem/cache/prefetch/base.cc
  src/mem/cache/prefetch/queued.cc
  src/mem/cache/prefetch/stride.cc
  src/mem/cache/prefetch/stride.hh
Labels: mem, classic caches

#599 arch-vega,arch-gcn3: Bugfix V_PERM_B32 and V_OR3_B32
  src/arch/amdgpu/gcn3/insts/instructions.cc
  src/arch/amdgpu/vega/decoder.cc
  src/arch/amdgpu/vega/insts/instructions.cc
Labels: bug, arch-gcn3, arch-vega

#600 tests: fix lulesh
  .github/workflows/gpu-tests.yaml
Labels: tests

#577 ext,github,tests: Update DRAMSys tests to v5.0 and handle new dependencies
  .github/workflows/weekly-tests.yaml
  ext/dramsys/.gitignore
  ext/dramsys/SConscript
  util/dockerfiles/ubuntu-20.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
Labels: tests, ext, github

#593 arch-x86: Fix misc registers in mov instructions
  src/arch/x86/isa/decoder/one_byte_opcodes.isa
  src/arch/x86/isa/decoder/two_byte_opcodes.isa
Labels: arch-x86

#610 arch-riscv: fix tlb bug
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#522 arch-riscv: Support combination of privilege modes configuration
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/SConscript
  src/arch/riscv/faults.cc
  src/arch/riscv/interrupts.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/standard.isa
  src/arch/riscv/pcstate.hh
  src/arch/riscv/process.cc
  src/arch/riscv/regs/misc.hh
  src/arch/riscv/remote_gdb.cc
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#601 scons: Add an option to reduce memory usage of ld
  SConstruct
Labels: scons

#592 arch-x86: Fixes page fault for CLFLUSH on write-protected pages
  src/arch/x86/tlb.cc
Labels: arch-x86

#626 misc: Merge .github directory from develop to stable
  .github/workflows/gpu-tests.yaml
Labels: tests, github, misc
