Repository gem5/gem5, pull requests merged in 2023-12, with the labels that each got.

#627 util-docker: Enforce cmake version >=3.24 for DRAMSys
  ext/dramsys/README
  util/dockerfiles/ubuntu-20.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
Labels: util-docker

#637 mem-ruby: update CacheMemory RubyCache debug prints
  src/mem/ruby/structures/CacheMemory.cc
Labels: mem-ruby

#638 tests: fix artifact reference in HACC tests
  .github/workflows/gpu-tests.yaml
Labels: tests, gpu

#642 misc: Add gem5_build/ to .gitignore
  .gitignore
Labels: misc

#553 arch-arm: Only build ArmCapstoneDisassembler when ISA is arm
  src/arch/arm/tracers/SConscript
  src/cpu/Kconfig
  src/cpu/SConscript
Labels: arch-arm

#645 stdlib: Add comment to ShadowResource
  src/python/gem5/resources/resource.py
Labels: stdlib

#241 configs,stdlib,tests: Remove get_runtime_isa()
  configs/common/CacheConfig.py
  configs/common/Caches.py
  configs/common/ObjectList.py
  configs/common/Options.py
  configs/common/Simulation.py
  configs/deprecated/example/fs.py
  configs/deprecated/example/se.py
  configs/example/apu_se.py
  configs/example/hmc_hello.py
  configs/learning_gem5/part1/two_level.py
  configs/network/Network.py
  configs/ruby/Ruby.py
  src/python/gem5/components/processors/base_cpu_core.py
  src/python/gem5/components/processors/simple_core.py
  src/python/gem5/components/processors/simple_processor.py
  src/python/gem5/components/processors/simple_switchable_processor.py
  src/python/gem5/runtime.py
  tests/gem5/multi_isa/README.md
  tests/gem5/multi_isa/test_multi_isa.py
  tests/gem5/parsec_benchmarks/configs/parsec_disk_run.py
Labels: tests, configs, stdlib

#573 arch-riscv: Add PCEvent for RISCV FS Workload kernel panic/oops
  src/arch/riscv/RiscvFsWorkload.py
  src/arch/riscv/linux/fs_workload.cc
  src/arch/riscv/linux/fs_workload.hh
  src/python/gem5/simulate/exit_event.py
  src/python/gem5/simulate/simulator.py
Labels: arch-riscv

#662 misc: Update version to v23.1.0.0
  src/Doxyfile
  src/base/version.cc
Labels: misc

#666 arch-x86: Fix two_byte_opcodes.isa `0x6` -> `0x0`
  src/arch/x86/isa/decoder/two_byte_opcodes.isa
Labels: bug, arch-x86

#656 mem: Add a flag on AbstractMemory to control statistics collection
  src/mem/AbstractMemory.py
  src/mem/abstract_mem.cc
  src/mem/abstract_mem.hh
Labels: mem

#657 arch-arm: Partial SVE2 Implementation
  src/arch/arm/isa/formats/sve_2nd_level.isa
  src/arch/arm/isa/formats/sve_top_level.isa
  src/arch/arm/isa/insts/sve.isa
Labels: arch-arm

#675 stdlib,resources: Fix obtaining gem5 Looppoint resources
  src/python/gem5/resources/resource.py
Labels: resources, stdlib

#682 misc: Cherry-pick from `develop` to `release-staging-v23-1` [Nov 13th]
  configs/common/Options.py
  configs/example/riscv/fs_linux.py
  src/arch/isa_parser/util.py
  src/arch/riscv/isa/templates/vector_mem.isa
  src/python/gem5/components/cachehierarchies/chi/nodes/directory.py
  src/python/gem5/components/cachehierarchies/chi/nodes/dma_requestor.py
  src/python/gem5/components/cachehierarchies/chi/nodes/private_l1_moesi_cache.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
  src/python/gem5/resources/resource.py
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
Labels: misc

#683 misc: Cherry-pick PR #666 from `develop` to `release-staging-v23-1`
  src/arch/x86/isa/decoder/two_byte_opcodes.isa
Labels: misc

#688 mem-ruby: Implement a dummy StashOnceShared/Unique
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
Labels: mem-ruby

#510 util: Added script to copy resources from mongodb
  util/offline_db/README.md
  util/offline_db/gem5_default_config.json
  util/offline_db/get-resources-from-db.py
Labels: util

#699 misc: Cherry pick changes from develop to the v23.1 staging branch
  src/sim/syscall_emul.hh
  util/offline_db/README.md
  util/offline_db/gem5_default_config.json
  util/offline_db/get-resources-from-db.py
Labels: misc

#692 mem-ruby: Implement WriteUniqueZero CHI transaction
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
Labels: mem-ruby

#696 misc: Turn off 'maybe-uninitialized' warn for regex include
  src/kern/linux/helpers.cc
Labels: bug, compilation error, misc

#695 tests: Fix Daily memory tests
  configs/ruby/Ruby.py
  src/cpu/testers/memtest/memtest.cc
  tests/gem5/memory/test.py
Labels: tests, configs

#706 misc: Fix 'maybe-uninitialized' warn turn off
  src/kern/linux/helpers.cc
Labels: compilation error

#707 misc: Cherry-pick commits from develop to v23.1 staging
  configs/ruby/Ruby.py
  src/cpu/testers/memtest/memtest.cc
  src/kern/linux/helpers.cc
  src/mem/dram_interface.cc
  src/mem/dram_interface.hh
  src/mem/nvm_interface.cc
  src/mem/nvm_interface.hh
Labels: misc

#708 scons: Remove warnings-as-errors comp feature for v23.1
  SConstruct
Labels: scons

#698 configs: Fix SMT cpu type checking
  configs/common/ObjectList.py
  configs/deprecated/example/se.py
Labels: configs

#447 misc: Add release notes for version 23.1
  RELEASE-NOTES.md
Labels: stdlib

#717 misc: Merge `stable` into `release-staging-v23-1`
  RELEASE-NOTES.md
  util/github-runners-vagrant/Vagrantfile-builder
  util/github-runners-vagrant/Vagrantfile-runner
  util/github-runners-vagrant/vm_manager.sh
Labels: misc

#716 misc: Merge v23.1 staging branch into develop
  RELEASE-NOTES.md
  SConstruct
  src/Doxyfile
  src/base/version.cc
  util/github-runners-vagrant/Vagrantfile-builder
  util/github-runners-vagrant/Vagrantfile-runner
  util/github-runners-vagrant/vm_manager.sh
Labels: misc
