Repository gem5/gem5, pull requests merged in 2023-07, with the labels that each got.

#90 Add feature to output citations automatically based on configuration
  src/gpu-compute/GPU.py
  src/mem/DRAMSim2.py
  src/mem/DRAMSys.py
  src/mem/DRAMsim3.py
  src/mem/MemCtrl.py
  src/mem/ruby/network/garnet/GarnetNetwork.py
  src/python/SConscript
  src/python/m5/SimObject.py
  src/python/m5/citations.py
  src/python/m5/simulate.py
Labels: enhancement

#99 base: Added missing backup dummy __has_builtin definition
  src/base/bitfield.hh
Labels: base, gpu, arch-X86

#73 Unit tests miscellaneous patches
  src/base/amo.test.cc
  src/base/inifile.cc
  src/base/inifile.hh
  src/base/memoizer.hh
  src/base/trie.hh
  src/sim/serialize.cc
Labels: base, tests

#98 arch-riscv: Set default check alignment True
  src/arch/riscv/RiscvISA.py
Labels: arch-riscv

#101 mem-ruby: Added support for non-system-scope atomics in VIPER
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
Labels: ruby caches, gpu

#91 stdlib: Change resource compatibility warning
  src/python/gem5/resources/client_api/client_wrapper.py
  tests/pyunit/stdlib/resources/pyunit_obtain_resources_check.py
Labels: resources, stdlib

#72 mem-garnet: Fix packet_id assignment in flit constructor
  src/mem/ruby/network/garnet/flit.cc
Labels: garnet

#102 stdlib,configs,tests: Remove deprecated Resource classes usage
  configs/example/gem5_library/arm-hello.py
  configs/example/gem5_library/checkpoints/riscv-hello-restore-checkpoint.py
  configs/example/gem5_library/checkpoints/riscv-hello-save-checkpoint.py
  configs/example/gem5_library/dramsys/arm-hello-dramsys.py
  configs/example/gem5_library/power-hello.py
  configs/example/gem5_library/riscv-fs.py
  configs/example/gem5_library/riscvmatched-hello.py
  configs/example/gem5_library/x86-gapbs-benchmarks.py
  configs/example/gem5_library/x86-npb-benchmarks.py
  configs/example/gem5_library/x86-parsec-benchmarks.py
  configs/example/gem5_library/x86-spec-cpu2006-benchmarks.py
  configs/example/gem5_library/x86-spec-cpu2017-benchmarks.py
  configs/example/lupv/run_lupv.py
  configs/example/sst/riscv_fs.py
  src/python/gem5/resources/workload.py
  src/python/gem5/utils/multiprocessing/README.md
  tests/gem5/configs/arm_boot_exit_run.py
  tests/gem5/configs/boot_kvm_fork_run.py
  tests/gem5/configs/boot_kvm_switch_exit.py
  tests/gem5/configs/parsec_disk_run.py
  tests/gem5/configs/simple_binary_run.py
  tests/gem5/configs/simulator_exit_event_run.py
  tests/gem5/to_tick/configs/tick-exit.py
  tests/gem5/to_tick/configs/tick-to-max.py
  tests/pyunit/stdlib/resources/pyunit_workload_checks.py
Labels: resources, tests, stdlib

#77 base: Ostream helpers (iterable, tuple, pair, enum, pointers, optional)
  src/base/cprintf_formats.hh
  src/base/stl_helpers/ostream_helpers.hh
  src/base/stl_helpers/ostream_helpers.test.cc
Labels: base

#96 misc: Add workflow to close stale issues
  .github/workflows/utils.yaml
Labels: github

#110 mem-ruby,configs: Add GLC Atomic Latency VIPER Parameter
  configs/ruby/GPU_VIPER.py
  src/mem/ruby/network/MessageBuffer.cc
  src/mem/ruby/network/MessageBuffer.hh
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/slicc/ast/EnqueueStatementAST.py
  src/mem/slicc/parser.py
Labels: ruby caches, gpu

#114 arch-arm: Hook TLBIOS instructions to the TlbiShareable obj
  src/arch/arm/isa/formats/aarch64.isa
Labels: bug, arch-arm

#109 base: Add `maybe_unused` to `findLsbSetFallback`
  src/base/bitfield.hh
Labels: base

#107 cpu-minor: Check pc valid before printing
  src/cpu/minor/dyn_inst.cc
Labels: minor cpu

#126 tests: Deprecate Gerrit/Jenkins testing scripts
  tests/deprecated/compiler-tests.sh
  tests/deprecated/jenkins/gem5art-tests.sh
  tests/deprecated/jenkins/presubmit-stage2.sh
  tests/deprecated/jenkins/presubmit.cfg
  tests/deprecated/jenkins/presubmit.sh
  tests/deprecated/nightly.sh
  tests/deprecated/weekly.sh
Labels: tests

#121 misc: Updating TESTING.md
  TESTING.md
Labels: tests, documentation

#105 misc: Split up tests in daily-tests.yaml
  .github/workflows/daily-tests.yaml
Labels: github

#133 cpu: Set SLC bit for GPU tester
  src/cpu/testers/gpu_ruby_test/gpu_wavefront.cc
Labels: gpu

#134 util: Ignore line length check for #include pragma in C/C++ files
  util/style/verifiers.py
Labels: util

#125 misc: Update version to v23.0.1.0
  src/Doxyfile
  src/base/version.cc
Labels: base

#128 misc: Update RELEASE-NOTES.md for v23.0.1.0
  RELEASE-NOTES.md
Labels: documentation

#130 misc: Sync CONTRIBUTING.md with website
  CONTRIBUTING.md
Labels: documentation

#113 arch-x86: Move CPUID values to python
  configs/example/gpufs/system/system.py
  src/arch/x86/X86FsWorkload.py
  src/arch/x86/X86ISA.py
  src/arch/x86/cpuid.cc
  src/arch/x86/cpuid.hh
  src/arch/x86/fs_workload.cc
  src/arch/x86/fs_workload.hh
  src/arch/x86/isa.cc
  src/arch/x86/isa.hh
  src/arch/x86/isa/decoder/two_byte_opcodes.isa
  src/arch/x86/isa/includes.isa
  src/arch/x86/kvm/x86_cpu.cc
Labels: configs, arch-X86

#140 gpu-compute: "<random>" -> "base/random.hh" in testers/gpu...
  src/cpu/testers/gpu_ruby_test/ProtocolTester.py
  src/cpu/testers/gpu_ruby_test/address_manager.cc
  src/cpu/testers/gpu_ruby_test/episode.cc
  src/cpu/testers/gpu_ruby_test/protocol_tester.cc
  src/cpu/testers/gpu_ruby_test/tester_thread.cc
Labels: gpu

#142 arch-vega: Fix vop2Helper scalar support
  src/arch/amdgpu/vega/insts/instructions.cc
  src/arch/amdgpu/vega/insts/op_encodings.hh
Labels: gpu

#129 arch-vega, dev-amdgpu: Fix for memory leaks
  src/arch/amdgpu/vega/pagetable_walker.cc
  src/dev/amdgpu/amdgpu_device.cc
Labels: gpu

#143 mem: Minor typo fix in packet.hh
  src/mem/packet.hh
Labels: general memory

#141 dev-amdgpu: Support for ROCm 5.4+ and MI200
  configs/example/gpufs/runfs.py
  src/arch/amdgpu/vega/pagetable_walker.cc
  src/arch/amdgpu/vega/pagetable_walker.hh
  src/dev/amdgpu/sdma_engine.cc
  src/dev/amdgpu/sdma_engine.hh
  src/dev/amdgpu/sdma_packets.hh
Labels: gpu
