Repository gem5/gem5, pull requests merged in 2023-09, with the labels that each got.

#247 gpu-compute: Set LDS/scratch aperture base register
  src/gpu-compute/shader.cc
Labels: gpu, gpu-compute

#245 misc: Remove 'run-name' from compiler-tests.yaml
  .github/workflows/compiler-tests.yaml
Labels: tests, github, misc

#251 arch-x86: Fix wrong x86 assembly
  src/arch/x86/isa/specialize.isa
Labels: bug, arch-x86

#248 util: Add gdb to gcn-gpu Dockerfile
  util/dockerfiles/gcn-gpu/Dockerfile
Labels: util-docker, gpu

#255 mem-ruby: Reorder SLC atomic and response actions
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
Labels: bug, mem-ruby, gpu

#268 misc: Improve ".github/ISSUE_TEMPLATE/bug_report.md"
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github

#267 ext: Stop excluding 'ext/testlib' from pre-commit and format
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  ext/testlib/__init__.py
  ext/testlib/configuration.py
  ext/testlib/fixture.py
  ext/testlib/handlers.py
  ext/testlib/helper.py
  ext/testlib/loader.py
  ext/testlib/log.py
  ext/testlib/main.py
  ext/testlib/query.py
  ext/testlib/result.py
  ext/testlib/runner.py
  ext/testlib/state.py
  ext/testlib/suite.py
  ext/testlib/terminal.py
  ext/testlib/test_util.py
  ext/testlib/uid.py
  ext/testlib/wrappers.py
Labels: tests, ext, misc

#279 sim: add bypass_on_change to the set() of a signal
  src/sim/signal.hh
Labels: sim

#273 util-docker: Proof-of-concept using Docker buildx
  .github/workflows/docker-build.yaml
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/ubuntu-20.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-20.04_clang-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
Labels: util-docker, github

#271 util: Add docker prune cron to GitHub runners
  util/github-runners-vagrant/provision_nonroot.sh
Labels: tests, util, github

#212 resources,stdlib: Add workload to resource specialization and deprecate workload.py
  configs/example/gem5_library/arm-ubuntu-run.py
  configs/example/gem5_library/caches/octopi-cache-example.py
  configs/example/gem5_library/looppoints/create-looppoint-checkpoints.py
  configs/example/gem5_library/looppoints/restore-looppoint-checkpoint.py
  configs/example/gem5_library/riscv-ubuntu-run.py
  configs/example/gem5_library/riscvmatched-fs.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm-no-perf.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm.py
  configs/example/gem5_library/x86-ubuntu-run.py
  src/python/gem5/components/boards/abstract_board.py
  src/python/gem5/resources/resource.py
  src/python/gem5/resources/workload.py
  tests/gem5/riscv_boot_tests/configs/riscv_boot_exit_run.py
  tests/gem5/x86_boot_tests/configs/x86_boot_exit_run.py
  tests/pyunit/stdlib/resources/pyunit_workload_checks.py
Labels: resources, stdlib

#233 misc: Add test status badges to README.md
  README.md
Labels: tests, doc, github, misc

#277 sim-se: Fix crash in chdirFunc() on nonexistent directory
  src/sim/syscall_emul.cc
Labels: sim-se

#244 scons: Add an option specifying the path to mold linker binary
  SConstruct
Labels: scons

#221 redirect_path patch for restoring cpt
  src/sim/fd_array.cc
  src/sim/fd_array.hh
  src/sim/process.cc
Labels: sim

#299 util: Revert "Add docker prune cron to GitHub..."
  util/github-runners-vagrant/provision_nonroot.sh
Labels: util, github

#290 util: Update gcn-gpu Dockerfile
  util/dockerfiles/gcn-gpu/Dockerfile
Labels: util-docker, gpu

#298 cpu-kvm: properly set x86 xsave header on gem5->KVM transition
  src/arch/x86/kvm/x86_cpu.cc
Labels: cpu-kvm

#283 sim-se: Use tgt_stat64 instead of tgt_stat in newfstatatFunc
  src/sim/syscall_emul.hh
Labels: sim-se

#302 cpu, configs: Fix TraceCPU after multi-ISA addition
  configs/example/etrace_replay.py
  src/cpu/trace/TraceCPU.py
  src/cpu/trace/trace_cpu.cc
  src/cpu/trace/trace_cpu.hh
Labels: configs, cpu

#310 util: Fix TLM configs making use of TraceCPU replayer
  util/tlm/conf/tlm_elastic_slave.py
  util/tlm/examples/tlm_elastic_slave_with_l2.py
Labels: util

#304 arch-x86: initialize and correct bitwidth for FPU tag word
  src/arch/x86/isa.cc
  src/arch/x86/process.cc
Labels: arch-x86

#294 mem-ruby: This commit patches an error in AbstractController.cc
  src/mem/ruby/slicc_interface/AbstractController.cc
Labels: mem-ruby

#285 misc,util-docker: Fix docker-build.yaml
  .github/workflows/docker-build.yaml
Labels: util-docker, github

#313 scons: Revert "Add an option specifying the path to mold linker binary"
  SConstruct
Labels: bug, scons

#319 misc: Fix docker build workflow
  .github/workflows/docker-build.yaml
Labels: github, misc

#314 configs: 'memoy' -> 'memory' spelling mistake fix
  configs/common/MemConfig.py
Labels: configs

#274 mem-cache: Fix bug in classic cache while clflush
  src/mem/cache/cache.cc
Labels: mem, classic caches

#322 misc: Update docker-build.yaml artifact actions to v3
  .github/workflows/docker-build.yaml
Labels: github, misc

#318 misc,tests: Remove duplicate running of daily `gem5_library_tests`
  .github/workflows/daily-tests.yaml
Labels: tests, github, misc

#321 misc,tests: Use GitHub Docker registry for 22.04 all-deps
  .github/workflows/ci-tests.yaml
  .github/workflows/docker-build.yaml
Labels: tests, util-docker, github, misc

#317 util,resources,stdlib: Add 'obtain-resource.py' utility to easily obtain resources from the CLI
  src/python/gem5/resources/downloader.py
  src/python/gem5/resources/resource.py
  util/obtain-resource.py
Labels: resources, util, stdlib

#316 mem-ruby: patch fixes a protocol error in MOESI_CMP_Directory
  src/mem/ruby/protocol/MOESI_CMP_directory-dir.sm
Labels: mem-ruby

#258 misc: Add HACC GPU tests
  .github/workflows/gpu-tests.yaml
Labels: gpu

#332 arch-x86: fix negative overflow check bug in PACK micro-op
  src/arch/x86/isa/microops/mediaop.isa
Labels: bug, arch-x86

#328 dev-amdgpu: Handle GPU atomics on host memory addresses
  src/dev/amdgpu/SConscript
  src/dev/amdgpu/system_hub.cc
  src/dev/amdgpu/system_hub.hh
Labels: gpu

#325 arch-riscv: Fix inst flags for jal and jalr
  src/arch/riscv/isa/formats/standard.isa
Labels: arch-riscv

#307 python,util: Add Python MyPy Stubgen to enable Pylance IntelliSense
  .gitignore
  requirements.txt
  src/python/m5/main.py
  util/gem5-stubgen.py
Labels: util, python

#337 configs: Fixed Typo
  configs/example/gem5_library/x86-ubuntu-run-with-kvm-no-perf.py
Labels: bug, configs

#348 cpu: Add override to TraceCPU init function
  src/cpu/trace/trace_cpu.hh
Labels: compilation error, cpu

#288 mem-ruby: start using txnid and DBID identifiers in CHI transactions
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-mem.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
  src/mem/slicc/ast/OperatorExprAST.py
  src/mem/slicc/ast/StaticCastAST.py
  src/mem/slicc/symbols/StateMachine.py
Labels: mem-ruby

#345 arch-x86: make popx87 micro-op actually pop st(0)
  src/arch/x86/isa/microops/fpop.isa
Labels: arch-x86

#347 arch-x86: properly initialize the auxv platform string
  src/arch/x86/process.cc
Labels: arch-x86

#360 cpu-o3: Mark getWritableRegOperand() in O3CPU as a regwrite
  src/cpu/o3/cpu.cc
Labels: cpu-o3

#263 misc,ext,tests: Automatically split CI TestLib tests across GitHub Action jobs
  .github/workflows/ci-tests.yaml
  ext/testlib/configuration.py
  ext/testlib/fixture.py
  ext/testlib/main.py
  ext/testlib/query.py
  src/python/m5/simulate.py
  tests/gem5/fixture.py
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
Labels: tests, ext, github

#361 base: Add a warning when failing to insert a whole symbol table
  src/base/loader/symtab.cc
Labels: base

#323 stdlib, resources: Added pretty printing resource
  src/python/gem5/resources/resource.py
Labels: resources, stdlib

#250 misc: 'sim{out/err}' -> 'sim{out/err}.txt'
  ext/testlib/configuration.py
  src/python/m5/main.py
  src/systemc/tests/verify.py
  tests/gem5/dram_lowp/ref/simout.txt
  tests/gem5/dram_lowp/test_dram_lowp.py
  tests/gem5/insttest_se/ref/simout.txt
  tests/gem5/insttest_se/test.py
  tests/gem5/m5threads_test_atomic/ref/sparc64/simout.txt
  tests/gem5/m5threads_test_atomic/test.py
  tests/gem5/stdlib/simulator/ref/simout.txt
  tests/gem5/stdlib/simulator/test_event_event.py
  tests/gem5/verifier.py
  util/plot_dram/dram_lat_mem_rd_plot.py
  util/plot_dram/dram_sweep_plot.py
Labels: misc

#370 arch-riscv: Update FS bits when doing floating point loads
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#363 misc: fix g++13 overloaded-virtual warning
  src/mem/cache/cache_blk.hh
  src/mem/cache/tags/fa_lru.hh
  src/mem/cache/tags/sector_blk.hh
  src/systemc/ext/core/sc_port.hh
  src/systemc/ext/tlm_core/2/sockets/initiator_socket.hh
Labels: mem, classic caches, misc

#265 mem: fix bug in 3-level cache
  src/python/gem5/components/cachehierarchies/ruby/mesi_three_level_cache_hierarchy.py
Labels: bug, needs details, stdlib, mem-ruby
