Repository gem5/gem5, pull requests merged in 2023-08, with the labels that each got.

#150 Enable loading of local gem5 Resources data by a simple passing of the data's JSON file path
  src/python/gem5/resources/client.py
Labels: enhancement, resources, stdlib

#153 stdlib, resources: Fixed keyerror: 'is_zipped' bug
  src/python/gem5/resources/downloader.py
Labels: resources, stdlib

#149 stdlib, resources: fixed style issue in isa.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/pcstate.hh
Labels: arch-riscv

#152 tests: download_check.py to rm each resource after check
  tests/gem5/configs/download_check.py
Labels: resources, tests

#115 util: fix cpt upgrader for rvv changes in PR #83
  util/cpt_upgraders/riscv-vext.py
Labels: util, arch-riscv

#160 misc: Refactor weekly-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests

#164 tests: Temporarily cease using PARSEC disk image in tests
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
  tests/gem5/gem5_resources/configs/download_check.py
  tests/gem5/gem5_resources/test_download_resources.py
  tests/gem5/parsec_benchmarks/test_parsec.py
Labels: resources, tests

#163 misc: Update where runners are cleaned in workflow files
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#155 misc: Update MAINTAINERS.yaml
  MAINTAINERS.yaml
  util/git-commit-msg.py
Labels: misc

#179 misc: Sync GitHub Workflow files from develop to stable
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#185 mem: Fixing memory size type issue in port proxy.
  src/mem/port_proxy.cc
  src/mem/port_proxy.hh
  src/mem/translating_port_proxy.cc
  src/mem/translating_port_proxy.hh
Labels: mem

#180 Port trace in xbar when address error
  src/mem/coherent_xbar.cc
  src/mem/noncoherent_xbar.cc
  src/mem/port.cc
  src/mem/port.hh
  src/mem/xbar.cc
  src/mem/xbar.hh
Labels: mem

#183 fastmodel: Add option to retry licence server connection.
  src/arch/arm/fastmodel/arm_fast_model.py
Labels: fastmodel

#184 gpu-compute: Change kernel-based exit location
  src/gpu-compute/dispatcher.cc
  src/gpu-compute/shader.cc
  src/gpu-compute/shader.hh
Labels: gpu, gpu-compute

#190 util-docker: Fix clang-version-8 docker container
  util/dockerfiles/ubuntu-20.04_clang-version/Dockerfile
Labels: util-docker, compilation error

#189 arch-x86,cpu-kvm: Fix gem5.fast due to unused variable
  src/arch/x86/kvm/x86_cpu.cc
Labels: cpu-kvm, arch-x86, compilation error

#187 arch-riscv: Check CSR before executing VMem instructions
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#166 Fix reporting traps (faults) to GDB in SE mode
  src/arch/power/faults.cc
  src/arch/riscv/faults.cc
Labels: sim-se, arch-power, arch-riscv, gdb

#195 stdlib: Allow passing of func as Exit Event generator
  src/python/gem5/simulate/simulator.py
  tests/gem5/stdlib/configs/simulator_exit_event_run.py
  tests/gem5/stdlib/simulator/test_event_event.py
Labels: stdlib

#194 misc: Update matrix runs in scheduled tests
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#167 tests: Add checkpoint tests for all ISAs
  tests/gem5/checkpoint_tests/README.md
  tests/gem5/checkpoint_tests/configs/arm-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/arm-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/power-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/power-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/sparc-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/sparc-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-fs-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-fs-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/test-checkpoints.py
Labels: tests

#202 ext: Update DRAMSys README
  ext/dramsys/README
Labels: doc, ext

#205 mem-cache: Allow clflush's uncacheable requests on classic cache
  src/mem/cache/cache.cc
  src/mem/packet.hh
Labels: classic caches

#198 misc: Add DRAMSys tests to our weekly tests
  .github/workflows/weekly-tests.yaml
Labels: tests, ext, mem, github

#206 tests: Update asmtest script and add more test binaries
  tests/gem5/asmtest/configs/riscv_asmtest.py
  tests/gem5/asmtest/tests.py
Labels: tests, arch-riscv

#209 ext: Specialize GDBSignal MACRO to gem5
  ext/gdbremote/signals.hh
Labels: ext, gdb, compilation error

#223 gpu-compute,arch-vega: Fix ALU-only LDS counters
  src/arch/amdgpu/vega/insts/instructions.cc
  src/gpu-compute/compute_unit.cc
Labels: gpu, arch-vega, gpu-compute

#217 mem-ruby: fix CHI Evict race condition
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
Labels: mem-ruby

#210 sim: provide a signal constructor with an init_state
  src/sim/signal.hh
Labels: sim

#186 tests, gpu-compute: Updating weekly.sh to use mmapped version of FW
  tests/deprecated/weekly.sh
Labels: tests, gpu

#224 dev-amdgpu: Tell OS about PCIe atomic support
  configs/example/gpufs/system/amdgpu.py
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/pci/pcireg.h
Labels: gpu, dev

#222 misc: Move compiler tests to run on 'build' runners
  .github/workflows/compiler-tests.yaml
Labels: tests, github, misc

#230 gpu-compute: Use timing DMAs for GPUFS HSA signals
  src/dev/hsa/hsa_packet_processor.cc
  src/gpu-compute/dispatcher.cc
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
Labels: gpu, dev-hsa, gpu-compute

#231 gpu-compute: Flat scratch implementation and bug fixes
  src/arch/amdgpu/vega/insts/op_encodings.cc
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/gpu-compute/GPUStaticInstFlags.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/gpu_dyn_inst.hh
  src/gpu-compute/gpu_static_inst.hh
  src/gpu-compute/scoreboard_check_stage.cc
Labels: gpu, arch-vega, gpu-compute

#204 resources, stdlib: Add support for local files in obtain_resource
  src/python/gem5/resources/downloader.py
  tests/pyunit/stdlib/resources/pyunit_local_file_path_check.py
Labels: resources, stdlib

#236 util-docker: Add GitHub Action to create Docker Images
  .github/workflows/docker-build.yaml
Labels: util-docker, github

#243 misc: Copy .github directory from develop to stable
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#200 mem: Atomic ops to same address
  src/mem/ruby/common/DataBlock.cc
  src/mem/ruby/common/DataBlock.hh
  src/mem/ruby/common/WriteMask.cc
  src/mem/ruby/common/WriteMask.hh
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/RubySlicc_Exports.sm
  src/mem/ruby/system/GPUCoalescer.cc
Labels: mem-ruby, gpu
