Repository gem5/gem5, pull requests merged in 2024-01, with the labels that each got.

#732 arch-arm: Handle invalid case for encodeAArch64SysReg
  src/arch/arm/insts/mem64.cc
  src/arch/arm/insts/misc64.cc
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
Labels: arch-arm

#734 mem-ruby: fix missing txnId for prefetch requests
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
Labels: mem-ruby

#730 gpu-compute: Added register file cache support
  configs/example/apu_se.py
  configs/example/gpufs/amd/AmdGPUOptions.py
  configs/example/gpufs/system/amdgpu.py
  src/gpu-compute/GPU.py
  src/gpu-compute/SConscript
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/register_file.cc
  src/gpu-compute/register_file.hh
  src/gpu-compute/register_file_cache.cc
  src/gpu-compute/register_file_cache.hh
  src/gpu-compute/schedule_stage.cc
  src/gpu-compute/vector_register_file.cc
  src/gpu-compute/wavefront.cc
Labels: gpu-compute

#731 gpu-compute: WAX dependency detection
  src/gpu-compute/vector_register_file.cc
Labels: gpu-compute

#735 fastmodel: Fix the Fastmodel RemoteGDB initial
  src/arch/arm/fastmodel/remote_gdb.cc
Labels: fastmodel

#691 arch-riscv: Move PMAChecker and PMP to RiscvISA namespace
  src/arch/riscv/PMAChecker.py
  src/arch/riscv/PMP.py
  src/arch/riscv/pma_checker.cc
  src/arch/riscv/pma_checker.hh
  src/arch/riscv/pmp.cc
  src/arch/riscv/pmp.hh
Labels: arch-riscv

#764 configs: Add o3 --cpu choice to the starter_se.py script
  configs/example/arm/starter_se.py
Labels: configs

#701 mem-ruby: allow comparison of int and Addr in SLICC
  src/mem/slicc/ast/OperatorExprAST.py
Labels: mem-ruby

#756 arch-riscv: Remove the check of bit 63 of the physical address
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#774 arch-vega: Fix upsize cast error in newer compilers
  src/arch/amdgpu/vega/insts/instructions.cc
Labels: gpu

#773 mem-ruby: fix ruby startup() to reset exit event correctly when simulating for given ticks only
  src/mem/ruby/system/RubySystem.cc
Labels: mem-ruby

#715 arch-riscv: Fix issue when vl=0 in VectorIntMaskMacroConstructor
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#780 arch-riscv: Refactor the RISC-V multiplication utility
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/utility.hh
Labels: arch-riscv

#647 misc: Merge Weekly GPU tests into Weekly Tests
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, gpu, github

#789 arch-vega: Reorganize inst and misc files
  src/arch/amdgpu/vega/SConscript
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_isa.cc
  src/arch/amdgpu/vega/gpu_registers.cc
  src/arch/amdgpu/vega/insts/ds.cc
  src/arch/amdgpu/vega/insts/exp.cc
  src/arch/amdgpu/vega/insts/flat.cc
  src/arch/amdgpu/vega/insts/inst_util.hh
  src/arch/amdgpu/vega/insts/instructions.cc
  src/arch/amdgpu/vega/insts/mimg.cc
  src/arch/amdgpu/vega/insts/mtbuf.cc
  src/arch/amdgpu/vega/insts/mubuf.cc
  src/arch/amdgpu/vega/insts/smem.cc
  src/arch/amdgpu/vega/insts/sop1.cc
  src/arch/amdgpu/vega/insts/sop2.cc
  src/arch/amdgpu/vega/insts/sopc.cc
  src/arch/amdgpu/vega/insts/sopk.cc
  src/arch/amdgpu/vega/insts/sopp.cc
  src/arch/amdgpu/vega/insts/vinterp.cc
  src/arch/amdgpu/vega/insts/vop1.cc
  src/arch/amdgpu/vega/insts/vop2.cc
  src/arch/amdgpu/vega/insts/vop3.cc
  src/arch/amdgpu/vega/insts/vop3_cmp.cc
  src/arch/amdgpu/vega/insts/vop3p.cc
  src/arch/amdgpu/vega/insts/vop3p_mai.cc
  src/arch/amdgpu/vega/insts/vopc.cc
Labels: gpu, arch-vega

#737 util: updated resource manager dependencies
  util/gem5-resources-manager/requirements.txt
Labels: util

#792 dev-amdgpu: Check privledge bit for SDMA RLC queues
  src/dev/amdgpu/sdma_engine.cc
  src/dev/amdgpu/sdma_engine.hh
Labels: gpu

#803 arch-vega: Implement memory aperture operands
  src/arch/amdgpu/vega/gpu_registers.cc
  src/arch/amdgpu/vega/gpu_registers.hh
  src/arch/amdgpu/vega/operand.hh
Labels: gpu, arch-vega

#793 arch-riscv: Simply implementation of vector multiply and divide instructions
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#781 arch-gcn3: Remove gcn3
  build_opts/GCN3_X86
  configs/example/apu_se.py
  configs/example/hsaTopology.py
  ext/testlib/configuration.py
  src/arch/SConscript
  src/arch/amdgpu/Kconfig
  src/arch/amdgpu/common/SConscript
  src/arch/amdgpu/gcn3/Kconfig
  src/arch/amdgpu/gcn3/SConscript
  src/arch/amdgpu/gcn3/SConsopts
  src/arch/amdgpu/gcn3/decoder.cc
  src/arch/amdgpu/gcn3/gpu_decoder.hh
  src/arch/amdgpu/gcn3/gpu_isa.hh
  src/arch/amdgpu/gcn3/gpu_mem_helpers.hh
  src/arch/amdgpu/gcn3/gpu_registers.hh
  src/arch/amdgpu/gcn3/gpu_types.hh
  src/arch/amdgpu/gcn3/insts/gpu_static_inst.cc
  src/arch/amdgpu/gcn3/insts/gpu_static_inst.hh
  src/arch/amdgpu/gcn3/insts/inst_util.hh
  src/arch/amdgpu/gcn3/insts/instructions.cc
  src/arch/amdgpu/gcn3/insts/instructions.hh
  src/arch/amdgpu/gcn3/insts/op_encodings.cc
  src/arch/amdgpu/gcn3/insts/op_encodings.hh
  src/arch/amdgpu/gcn3/isa.cc
  src/arch/amdgpu/gcn3/operand.hh
  src/arch/amdgpu/gcn3/registers.cc
  src/cpu/testers/gpu_ruby_test/README
  src/dev/amdgpu/hwreg_defines.hh
  src/dev/hsa/hsa_packet_processor.hh
  src/gpu-compute/GPU.py
  src/gpu-compute/gpu_compute_driver.cc
  src/gpu-compute/gpu_compute_driver.hh
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/hsa_queue_entry.hh
  src/gpu-compute/schedule_stage.cc
  src/mem/request.hh
  src/mem/ruby/system/VIPERCoalescer.cc
  tests/deprecated/compiler-tests.sh
  tests/deprecated/nightly.sh
  tests/deprecated/weekly.sh
  tests/gem5/se_mode/hello_se/test_hello_se.py
  util/dockerfiles/gcn-gpu/Dockerfile
  util/dockerfiles/gcn-gpu/README.md
Labels: gpu, arch-gcn3

#786 base: Fix Integer overflow in AddrRange
  src/base/addr_range.hh
  src/base/addr_range.test.cc
Labels: base

#739 misc: Update .mailmap file
  .mailmap
Labels: misc

#806 dev-amdgpu: Limit SDMA NOP count to wptr boundary
  src/dev/amdgpu/sdma_engine.cc
Labels: gpu

#767 misc: Added dependabot config file
  .github/workflows/dependabot.yml
Labels: misc

#810 arch-arm: Replace CRYPTO extension with canonical names
  src/arch/arm/ArmISA.py
  src/arch/arm/ArmSystem.py
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#653 util: add scripts that help maintain mongoDB
  util/helper_scripts_for_mongodb/README.md
  util/helper_scripts_for_mongodb/create-new-collection.py
  util/helper_scripts_for_mongodb/helper.py
  util/helper_scripts_for_mongodb/requirements.txt
  util/helper_scripts_for_mongodb/update-gem5-versions.py
Labels: util

#676 tests: Added tests for suites
  tests/gem5/suite_tests/README.md
  tests/gem5/suite_tests/configs/suite_run_workload.py
  tests/gem5/suite_tests/test_suite.py
Labels: tests

#816 arch-riscv: Fix fence.i instruction in O3 CPU
  src/arch/riscv/isa/decoder.isa
Labels: cpu-o3, arch-riscv

#819 tests: remove GCN3_X86 from compiler tests
  .github/workflows/compiler-tests.yaml
Labels: tests

#725 arm,stdlib: added kvm support to the ARM board
  configs/example/gem5_library/arm-ubuntu-run-with-kvm.py
  src/python/gem5/components/boards/arm_board.py
Labels: cpu-kvm
