Repository gem5/gem5, pull requests merged in 2024-03, with the labels that each got.

#902 dev: RegisterBank addRegistersAt for fragmented reg banks
  src/dev/reg_bank.hh
  src/dev/reg_bank.test.cc
Labels: dev

#904 stdlib: Fix initialization for self.pic.hart_config in lupv_board
  src/python/gem5/components/boards/experimental/lupv_board.py
Labels: stdlib

#903 sim-se: Catch None value if binary is not compatible with gem5
  src/sim/Workload.py
Labels: sim-se

#869 arch-riscv: adding stats to show completed page walks
  src/arch/riscv/pagetable_walker.cc
  src/arch/riscv/pagetable_walker.hh
Labels: arch-riscv

#908 misc: Tag checkpoints with the ISA of the CPUs
  src/arch/arm/isa.cc
  src/arch/generic/isa.hh
  src/arch/mips/isa.cc
  src/arch/power/isa.cc
  src/arch/riscv/isa.cc
  src/arch/sparc/isa.cc
  src/arch/x86/isa.cc
  util/cpt_upgraders/riscv-dyn-vlen.py
  util/cpt_upgraders/riscv-pcstate.py
  util/cpt_upgraders/riscv-vext.py
Labels: misc

#851 arch-riscv: adding vector unit-stride segment loads to RISC-V
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/arch/riscv/utility.hh
  src/cpu/FuncUnit.py
  src/cpu/minor/BaseMinorCPU.py
  src/cpu/op_class.hh
Labels: arch-riscv

#920 dev-arm: Handle translation aborts and add IRQ support to the SMMU
  src/dev/arm/RealView.py
  src/dev/arm/SConscript
  src/dev/arm/SMMUv3.py
  src/dev/arm/smmu_v3.cc
  src/dev/arm/smmu_v3.hh
  src/dev/arm/smmu_v3_defs.cc
  src/dev/arm/smmu_v3_defs.hh
  src/dev/arm/smmu_v3_transl.cc
  src/dev/arm/smmu_v3_transl.hh
Labels: dev-arm

#924 misc: Fix weekly tests
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#934 dev-arm: Fix SMMUv3 DTB autogen
  src/dev/arm/SMMUv3.py
Labels: dev-arm

#938 Fix callback of functional access in port wrapper
  src/mem/port_wrapper.cc
Labels: mem

#914 arch-riscv: Move alignment check to Physical Memory Attribute(PMA)
  src/arch/riscv/PMAChecker.py
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/insts/static_inst.cc
  src/arch/riscv/insts/static_inst.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/formats/amo.isa
  src/arch/riscv/isa/formats/mem.isa
  src/arch/riscv/mmu.hh
  src/arch/riscv/pagetable_walker.cc
  src/arch/riscv/pma_checker.cc
  src/arch/riscv/pma_checker.hh
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#935 stdlib, tests, configs: Add a new PrivateL1PrivateL2WalkCache hierarchy
  configs/example/gem5_library/checkpoints/simpoints-se-restore.py
  configs/example/gem5_library/looppoints/restore-looppoint-checkpoint.py
  configs/example/gem5_library/riscv-fs.py
  configs/example/gem5_library/riscv-ubuntu-run.py
  configs/example/lupv/run_lupv.py
  src/python/SConscript
  src/python/gem5/components/cachehierarchies/classic/private_l1_private_l2_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/classic/private_l1_private_l2_walk_cache_hierarchy.py
  tests/gem5/checkpoint_tests/configs/x86-fs-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-fs-save-checkpoint.py
  tests/gem5/parsec_benchmarks/configs/parsec_disk_run.py
  tests/gem5/riscv_boot_tests/configs/riscv_boot_exit_run.py
  tests/gem5/suite_tests/configs/suite_run_workload.py
Labels: tests, configs, stdlib

#939 gpu-compute: Support cache line sizes >64B in GPUFS
  configs/example/gpufs/Disjoint_VIPER.py
  src/gpu-compute/gpu_command_processor.cc
Labels: gpu-compute

#940 gpu-compute: Add support for skipping GPU kernels
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/system.py
  src/gpu-compute/GPU.py
  src/gpu-compute/dispatcher.cc
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
  src/gpu-compute/shader.cc
  src/gpu-compute/shader.hh
Labels: gpu, gpu-compute

#952 misc: Add ".DS_Store" to .gitignore
  .gitignore
Labels: misc

#901 tests: Update tests to use specific resource versions
  tests/gem5/arm_boot_tests/configs/arm_boot_exit_run.py
  tests/gem5/checkpoint_tests/configs/arm-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/arm-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/power-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/power-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/sparc-hello-save-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-fs-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-hello-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-hello-save-checkpoint.py
  tests/gem5/kvm_fork_tests/configs/boot_kvm_fork_run.py
  tests/gem5/kvm_switch_tests/configs/boot_kvm_switch_exit.py
  tests/gem5/parsec_benchmarks/configs/parsec_disk_run.py
  tests/gem5/riscv_boot_tests/configs/riscv_boot_exit_run.py
  tests/gem5/stdlib/configs/simulator_exit_event_run.py
  tests/gem5/suite_tests/test_suite.py
  tests/gem5/to_tick/configs/tick-exit.py
  tests/gem5/to_tick/configs/tick-to-max.py
  tests/gem5/x86_boot_tests/configs/x86_boot_exit_run.py
Labels: tests

#953 arch-vega: Implement flat_load_sbyte instruction
  src/arch/amdgpu/vega/insts/flat.cc
Labels: arch-vega

#950 arch-vega: Various vega fixes to enable nanogpt
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/vop2.cc
  src/arch/amdgpu/vega/insts/vop3p.cc
Labels: arch-vega

#926 dev-amdgpu: Support for ROCm 6.0
  configs/example/gpufs/system/system.py
  configs/example/gpufs/vega10.py
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_decoder.hh
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/vop3.cc
  src/dev/amdgpu/AMDGPU.py
  src/dev/amdgpu/amdgpu_defines.hh
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/amdgpu_device.hh
  src/dev/amdgpu/amdgpu_gfx.cc
  src/dev/amdgpu/amdgpu_gfx.hh
  src/dev/amdgpu/amdgpu_nbio.cc
  src/dev/amdgpu/amdgpu_nbio.hh
  src/dev/amdgpu/amdgpu_vm.cc
  src/dev/amdgpu/amdgpu_vm.hh
  src/dev/amdgpu/interrupt_handler.cc
  src/dev/amdgpu/interrupt_handler.hh
  src/dev/amdgpu/pm4_mmio.hh
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/amdgpu/pm4_packet_processor.hh
  src/dev/amdgpu/sdma_engine.cc
  src/dev/amdgpu/sdma_engine.hh
Labels: gpu, arch-vega

#913 arch-riscv: adding vector unit-stride segment stores to RISC-V
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/arch/riscv/utility.hh
  src/cpu/FuncUnit.py
  src/cpu/op_class.hh
Labels: arch-riscv, cpu

#956 sim-se,cpu-kvm: Fix SE workload setup on KVM CPUs
  src/python/gem5/components/boards/se_binary_workload.py
Labels: stdlib

#976 dev: Remove duplicate virtio files
  src/dev/virtio/rng 2.cc
  src/dev/virtio/rng 2.hh
Labels: dev

#864 stdlib: add socks proxy to atlas client
  src/python/SConscript
  src/python/gem5/resources/client_api/atlasclient.py
  src/python/gem5/resources/downloader.py
  src/python/gem5/utils/socks_ssl_context.py
Labels: stdlib

#863 arch-riscv: This commit fixes bug in vfmv.f.s impl. in riscv
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv
