Repository gem5/gem5, pull requests merged in 2024-08, with the labels that each got.

#1410 mem: Fix name() helper for DRAM rank
  src/mem/dram_interface.hh
Labels: mem

#1411 misc: update GPU maintainters
  MAINTAINERS.yaml
Labels: misc

#1413 gpu-compute: update GPUKernelInfo print to print WG number
  src/gpu-compute/dispatcher.cc
Labels: gpu-compute

#1412 gpu-compute: fix typo in GPUMem debug print
  src/gpu-compute/gpu_dyn_inst.cc
Labels: gpu-compute

#1406 arch-riscv: Move pmpReset implementation to MMU::reset()
  src/arch/riscv/faults.cc
  src/arch/riscv/mmu.hh
Labels: arch-riscv

#1374 mem: Fix "Need is_secure arg" prefetcher crash
  src/mem/cache/prefetch/associative_set.hh
  src/mem/cache/prefetch/indirect_memory.cc
  src/mem/cache/prefetch/indirect_memory.hh
  src/mem/cache/prefetch/pif.cc
  src/mem/cache/prefetch/pif.hh
  src/mem/cache/prefetch/signature_path.cc
  src/mem/cache/prefetch/signature_path.hh
  src/mem/cache/prefetch/signature_path_v2.cc
  src/mem/cache/prefetch/signature_path_v2.hh
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.cc
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.hh
Labels: mem

#1417 misc: Fix typo in multisim code snippet
  RELEASE-NOTES.md
Labels: misc

#1415 util-docker,tests: Up clang support: >=v10
  .github/workflows/compiler-tests.yaml
  util/dockerfiles/docker-bake.hcl
Labels: tests, util-docker, compilation error

#1385 Updating hex addr printing
  src/cpu/testers/traffic_gen/dram_gen.cc
  src/cpu/testers/traffic_gen/dram_rot_gen.cc
  src/cpu/testers/traffic_gen/hybrid_gen.cc
  src/cpu/testers/traffic_gen/linear_gen.cc
  src/cpu/testers/traffic_gen/nvm_gen.cc
  src/cpu/testers/traffic_gen/random_gen.cc
  src/cpu/testers/traffic_gen/strided_gen.cc
Labels: cpu

#1431 gpu-compute: fix GPU TLB outstandingReqs vs. associativity
  configs/common/GPUTLBOptions.py
Labels: gpu-compute

#1316 arch-riscv: use sign-extend for all address generation
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/amo.isa
  src/arch/riscv/isa/formats/compressed.isa
  src/arch/riscv/isa/formats/mem.isa
  src/arch/riscv/isa/formats/standard.isa
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#1430 dev-amdgpu: Fix issues found by address sanitizer
  src/dev/amdgpu/sdma_engine.cc
  src/dev/amdgpu/sdma_engine.hh
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/shader.cc
Labels: gpu, gpu-compute

#1416 Updating Traffic Generators
  src/cpu/testers/traffic_gen/linear_gen.cc
  src/cpu/testers/traffic_gen/strided_gen.cc
  src/python/gem5/components/processors/linear_generator.py
  src/python/gem5/components/processors/linear_generator_core.py
  src/python/gem5/components/processors/random_generator.py
  src/python/gem5/components/processors/random_generator_core.py
  src/python/gem5/components/processors/strided_generator.py
  src/python/gem5/components/processors/strided_generator_core.py
Labels: stdlib

#1426 util: Fix MongoDB script requirements.txt
  util/helper_scripts_for_mongodb/requirements.txt
Labels: util

#1425 misc: v24.0.0.1 Hotfix release
  RELEASE-NOTES.md
  src/Doxyfile
  src/base/version.cc
  src/mem/cache/prefetch/associative_set.hh
  src/mem/cache/prefetch/indirect_memory.cc
  src/mem/cache/prefetch/indirect_memory.hh
  src/mem/cache/prefetch/pif.cc
  src/mem/cache/prefetch/pif.hh
  src/mem/cache/prefetch/signature_path.cc
  src/mem/cache/prefetch/signature_path.hh
  src/mem/cache/prefetch/signature_path_v2.cc
  src/mem/cache/prefetch/signature_path_v2.hh
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.cc
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.hh
Labels: misc

#1404 mem-ruby,sim-se: Clear LL/SC locks after functional writes
  src/mem/ruby/system/Sequencer.cc
Labels: sim-se, mem-ruby

#1364 arch-riscv: Extend wfi behavior
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#1445 arch-vega: Swizzle multi-dword scratch requests
  src/arch/amdgpu/vega/gpu_mem_helpers.hh
  src/arch/amdgpu/vega/insts/flat.cc
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/gpu-compute/gpu_dyn_inst.hh
Labels: gpu, arch-vega

#1449 mem: Stride Prefetcher Fix (#1448)
  src/mem/cache/prefetch/Prefetcher.py
  src/mem/cache/prefetch/stride.cc
  src/mem/cache/prefetch/stride.hh
Labels: mem

#1325 arch-arm: Fix incorrect operation of VRINT* instructions
  src/arch/arm/isa/insts/fp.isa
Labels: arch-arm

#1472 arch-arm: Redirect VHE for ZCR_EL1
  src/arch/arm/isa.cc
Labels: arch-arm

#1470 arch-riscv: fix GDB breakpoint issue for RV32
  src/arch/riscv/remote_gdb.cc
  src/arch/riscv/remote_gdb.hh
  src/base/remote_gdb.hh
Labels: arch-riscv

#1270 gpu-compute,tests: Move GPU tests to testlib
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
  configs/example/apu_se.py
  ext/testlib/configuration.py
  tests/gem5/gpu/test_gpu_apu_se.py
  tests/gem5/gpu/test_gpu_ruby_random.py
  tests/gem5/gpu/test_gpu_ruby_random_wbL2.py
Labels: tests, gpu, github, arch-vega, gpu-compute

#1460 docs,misc: RELEASE-NOTES.md updates for v24.1
  RELEASE-NOTES.md
Labels: doc, misc

#1447 dev,arch-x86: Added softstrobe mode to intel8254 timer
  src/dev/intel_8254_timer.cc
Labels: arch-x86, dev

#1292 util-docker: Cleanup, refactor, better document Dockerfiles
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  util/dockerfiles/README.md
  util/dockerfiles/clang-compiler/Dockerfile
  util/dockerfiles/devcontainer/Dockerfile
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/gcc-compiler/Dockerfile
  util/dockerfiles/gem5-all-min-dependencies/Dockerfile
  util/dockerfiles/llvm-gnu-cross-compiler-riscv64/Dockerfile
  util/dockerfiles/sst/Dockerfile
  util/dockerfiles/systemc-2.3.3/Dockerfile
  util/dockerfiles/systemc/Dockerfile
  util/dockerfiles/ubuntu-20.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-20.04_clang-version/Dockerfile
  util/dockerfiles/ubuntu-20.04_gcc-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_clang-16/llvm.sh
  util/dockerfiles/ubuntu-22.04_clang-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_gcc-version/Dockerfile
  util/dockerfiles/ubuntu-22.04_gcc_13-version/Dockerfile
  util/dockerfiles/ubuntu-24.04_all-dependencies/Dockerfile
Labels: util-docker

#1477 Update on-create.sh
  .devcontainer/on-create.sh
Labels: misc

#1485 tests,gpu-compute: Fix Daily/Weekly GPU tests failures
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, gpu, github

#1467 stdlib: Give user's disk_device priority when setting root val
  src/python/gem5/components/boards/kernel_disk_workload.py
Labels: stdlib

#1475 resources: update filtering of resources by gem5 versions
  src/python/gem5/resources/client_api/atlasclient.py
Labels: resources

#1446 base, mem-cache: Make the AssociativeCache more generic
  src/base/cache/associative_cache.hh
  src/base/cache/cache_entry.hh
  src/mem/cache/base.cc
  src/mem/cache/base.hh
  src/mem/cache/cache.cc
  src/mem/cache/cache_blk.cc
  src/mem/cache/cache_blk.hh
  src/mem/cache/compressors/frequent_values.cc
  src/mem/cache/compressors/frequent_values.hh
  src/mem/cache/prefetch/Prefetcher.py
  src/mem/cache/prefetch/access_map_pattern_matching.cc
  src/mem/cache/prefetch/access_map_pattern_matching.hh
  src/mem/cache/prefetch/associative_set.hh
  src/mem/cache/prefetch/associative_set_impl.hh
  src/mem/cache/prefetch/delta_correlating_prediction_tables.cc
  src/mem/cache/prefetch/delta_correlating_prediction_tables.hh
  src/mem/cache/prefetch/indirect_memory.cc
  src/mem/cache/prefetch/indirect_memory.hh
  src/mem/cache/prefetch/irregular_stream_buffer.cc
  src/mem/cache/prefetch/irregular_stream_buffer.hh
  src/mem/cache/prefetch/pif.cc
  src/mem/cache/prefetch/pif.hh
  src/mem/cache/prefetch/signature_path.cc
  src/mem/cache/prefetch/signature_path.hh
  src/mem/cache/prefetch/signature_path_v2.cc
  src/mem/cache/prefetch/signature_path_v2.hh
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.cc
  src/mem/cache/prefetch/spatio_temporal_memory_streaming.hh
  src/mem/cache/prefetch/stride.cc
  src/mem/cache/prefetch/stride.hh
  src/mem/cache/tags/SConscript
  src/mem/cache/tags/Tags.py
  src/mem/cache/tags/base.cc
  src/mem/cache/tags/base.hh
  src/mem/cache/tags/base_set_assoc.cc
  src/mem/cache/tags/base_set_assoc.hh
  src/mem/cache/tags/compressed_tags.cc
  src/mem/cache/tags/compressed_tags.hh
  src/mem/cache/tags/fa_lru.cc
  src/mem/cache/tags/fa_lru.hh
  src/mem/cache/tags/indexing_policies/IndexingPolicies.py
  src/mem/cache/tags/indexing_policies/SConscript
  src/mem/cache/tags/indexing_policies/base.cc
  src/mem/cache/tags/indexing_policies/base.hh
  src/mem/cache/tags/indexing_policies/set_associative.cc
  src/mem/cache/tags/indexing_policies/set_associative.hh
  src/mem/cache/tags/indexing_policies/skewed_associative.cc
  src/mem/cache/tags/indexing_policies/skewed_associative.hh
  src/mem/cache/tags/sector_blk.cc
  src/mem/cache/tags/sector_blk.hh
  src/mem/cache/tags/sector_tags.cc
  src/mem/cache/tags/sector_tags.hh
  src/mem/cache/tags/tagged_entry.hh
Labels: base, mem, classic caches

#1495 arch-arm: Add place holder of registers.
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
Labels: arch-arm

#1512 arch-arm: Use .f32/.f64 suffixes for vfp mnemonics
  src/arch/arm/insts/vfp.cc
  src/arch/arm/isa/insts/fp.isa
Labels: arch-arm

#1510 arch-arm: when programming an invalid PMU ID detach the counter
  src/arch/arm/pmu.cc
Labels: arch-arm

#1438 arch-arm: downgrade a warning to a DPRINTF
  src/arch/arm/pmu.cc
Labels: arch-arm

#1326 arch-arm: Fix implicit int-to-float conversion in VCMP
  src/arch/arm/isa/insts/fp.isa
Labels: arch-arm

#1515 tests: Fix gpu-tests
  tests/gem5/gpu/test_gpu_apu_se.py
Labels: tests

#1350 arch-vega: Pass s_memtime through smem pipe
  configs/example/apu_se.py
  configs/example/gpufs/amd/AmdGPUOptions.py
  configs/example/gpufs/system/amdgpu.py
  configs/ruby/GPU_VIPER.py
  src/arch/amdgpu/common/tlb.cc
  src/arch/amdgpu/vega/gpu_mem_helpers.hh
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/smem.cc
  src/arch/amdgpu/vega/tlb.cc
  src/gpu-compute/GPU.py
  src/gpu-compute/GPUStaticInstFlags.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/gpu_static_inst.hh
  src/mem/request.hh
  src/mem/ruby/SConscript
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
  src/mem/ruby/protocol/RubySlicc_Exports.sm
  src/mem/ruby/system/RubyPort.cc
  src/mem/ruby/system/SConscript
  src/mem/ruby/system/Sequencer.cc
  src/mem/ruby/system/Sequencer.hh
  src/mem/ruby/system/VIPERSequencer.cc
  src/mem/ruby/system/VIPERSequencer.hh
  src/mem/ruby/system/VIPERSequencer.py
Labels: mem, mem-ruby, arch-vega, gpu-compute

#1514 base: Allow DPRINTF debugging of AssociativeCache
  src/base/cache/associative_cache.hh
Labels: base

#1521 arch-vega: Revert incorrect SOPC compare
  src/arch/amdgpu/vega/insts/sopc.cc
Labels: gpu, arch-vega

#1502 arch-arm: Fix Execution Permission in Stage2 Direct Permission.
  src/arch/arm/mmu.cc
Labels: arch-arm
