Repository gem5/gem5, pull requests merged in 2024-07, with the labels that each got.

#1303 arch-arm: Implement FEAT_XS
  src/arch/arm/ArmSystem.py
  src/arch/arm/insts/misc64.cc
  src/arch/arm/insts/misc64.hh
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/pagetable.hh
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/stage2_lookup.cc
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
  src/arch/arm/tlb.cc
  src/arch/arm/tlbi_op.cc
  src/arch/arm/tlbi_op.hh
Labels: arch-arm

#1304 arch-arm: support 64-bit PMCCNTR from AArch32
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#1313 arch-arm: Properly implement IPASpace in the MMU
  src/arch/arm/insts/misc.cc
  src/arch/arm/insts/misc64.cc
  src/arch/arm/insts/misc64.hh
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
  src/arch/arm/pagetable.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/stage2_lookup.cc
  src/arch/arm/stage2_lookup.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
  src/arch/arm/tlb.cc
  src/arch/arm/tlbi_op.cc
  src/arch/arm/tlbi_op.hh
  src/arch/arm/types.hh
  src/arch/arm/utility.cc
  src/arch/arm/utility.hh
Labels: arch-arm

#1322 arch-arm: MISCREG_AT_S1E2R/W are executable from S state
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#1323 arch-arm: Implement FEAT_TTST
  src/arch/arm/ArmSystem.py
  src/arch/arm/pagetable.cc
  src/arch/arm/regs/misc.cc
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
Labels: arch-arm

#1328 systemc: Use headerDelay in timing annotation
  src/systemc/tlm_bridge/gem5_to_tlm.cc
  src/systemc/tlm_bridge/tlm_to_gem5.cc
  util/tlm/src/sc_master_port.cc
  util/tlm/src/sc_slave_port.cc
Labels: systemc

#1135 arch-riscv: add agnostic option to vector tail/mask policy for mem and arith instructions
  src/arch/generic/vec_reg.hh
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#1291 arch-riscv: Fix setRegs from GDB failed after #1099
  src/arch/riscv/remote_gdb.cc
Labels: arch-riscv

#1285 cpu: Add cpuIdlePins to indicate the threadContext of CPU is idle
  src/cpu/BaseCPU.py
  src/cpu/base.cc
  src/cpu/base.hh
Labels: cpu

#1312 arch-riscv: add rv32 option to FS Linux config file
  configs/example/riscv/fs_linux.py
Labels: arch-riscv

#1340 arch-riscv: fix initialization for some vector reduction insts
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#1343 util: Update gem5-resources-manager
  util/gem5-resources-manager/requirements.txt
Labels: util

#1347 arch-riscv: Update local interrupts citation
  src/arch/riscv/RiscvInterrupts.py
Labels: arch-riscv

#1346 arch-riscv: Overwrite getEMI() for timing expr
  src/arch/riscv/insts/static_inst.hh
Labels: arch-riscv

#1275 mem: Change long in src/mem/physical.cc to int64_t
  src/mem/physical.cc
Labels: mem

#1327 arch-arm: Fix remaining implicit float conversion warnings in .isa
  src/arch/arm/isa/insts/fp.isa
  src/arch/arm/isa/insts/neon.isa
  src/arch/isa_parser/isa_parser.py
Labels: arch-arm, arch

#1331 arch-riscv: Improve widening/narrowing vectors overlap check
  src/arch/riscv/isa/formats/vector_arith.isa
Labels: arch-riscv

#1366 arch-vega: Multiple SOPC fixes
  src/arch/amdgpu/vega/insts/sopc.cc
Labels: arch-vega

#1379 arch-vega: Fix unconditional clamps in VOP3
  src/arch/amdgpu/vega/insts/vop3.cc
Labels: gpu, arch-vega

#1378 arch-vega: Improve SDWA, SDWAB, and DPP
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/arch/amdgpu/vega/insts/vop1.cc
  src/arch/amdgpu/vega/insts/vop2.cc
  src/arch/amdgpu/vega/insts/vopc.cc
Labels: gpu, arch-vega

#1390 arch-arm: return 64-bit cycle counter for MISCREG_PMCCNTR
  src/arch/arm/pmu.cc
Labels: arch-arm

#1388 arch-arm: Add support for AArch32 PMEVCNTR*/PMEVTYPER*/PMCCFILTR
  src/arch/arm/pmu.cc
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/tracers/tarmac_parser.cc
Labels: arch-arm

#1391 configs: GPUFS: Disable KVM perf counters by default
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/system.py
Labels: gpu

#1329 sim: Add error message for kernel exceeding memory size
  src/sim/kernel_workload.cc
Labels: sim

#1319 arch-riscv: Fix implicit int-to-float conversion in .isa files
  src/arch/riscv/isa/formats/vector_conf.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv
