Repository gem5/gem5, pull requests merged in 2024-11, with the labels that each got.

#1661 arch-arm: Rewrite the ArmTLB storage to use an AssociativeCache
  src/arch/arm/ArmMMU.py
  src/arch/arm/ArmTLB.py
  src/arch/arm/SConscript
  src/arch/arm/faults.cc
  src/arch/arm/faults.hh
  src/arch/arm/insts/static_inst.cc
  src/arch/arm/interrupts.hh
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
  src/arch/arm/pagetable.cc
  src/arch/arm/pagetable.hh
  src/arch/arm/self_debug.cc
  src/arch/arm/self_debug.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
  src/arch/arm/tlb.cc
  src/arch/arm/tlb.hh
  src/arch/arm/tlbi_op.cc
  src/arch/arm/tlbi_op.hh
  src/arch/arm/types.hh
Labels: arch-arm

#1746 mem-ruby: Fix two NetDest locals using default constructor
  src/mem/ruby/network/garnet/NetworkInterface.cc
  src/mem/ruby/slicc_interface/AbstractController.cc
Labels: bug, mem-ruby

#1751 arch-arm: Use the cached release object instead of HaveExt
  src/arch/arm/mmu.cc
Labels: arch-arm

#1710 arch-riscv: Add support for Zicbop extension
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/mem.isa
Labels: arch-riscv

#1752 arch-arm: Cache a pointer to previously matched TLB entry
  src/arch/arm/tlb.cc
  src/arch/arm/tlb.hh
Labels: arch-arm

#1692 dev-amdgpu, gpu-compute, mem-ruby: Add support for writeback L2 in GPU
  src/dev/amdgpu/amdgpu_device.cc
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
  src/mem/request.hh
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
  src/mem/ruby/system/RubyPort.cc
  src/mem/ruby/system/RubySystem.cc
Labels: mem, mem-ruby, gpu-compute

#1750 misc: update RELEASE-NOTES.md for simInsts and simOps
  RELEASE-NOTES.md
Labels: misc

#1583 arch-arm,util-m5: Change arm64's default m5 call type to addr
  util/m5/src/abi/arm64/SConsopts
Labels: arch-arm, util-m5

#1758 arch, cpu: Add generic getValidAddr to correct exetrace symbol table
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
  src/arch/generic/mmu.cc
  src/arch/generic/mmu.hh
  src/arch/riscv/mmu.hh
  src/arch/riscv/tlb.hh
  src/cpu/exetrace.cc
Labels: arch, cpu

#1763 misc: Fix typo in README.md
  README.md
Labels: misc

#1762 base: Introduce registerExtraLog() in Logger
  src/base/logging.cc
  src/base/logging.hh
  src/base/logging.test.cc
Labels: base

#335 misc: Add sphinx stdlib documentation
  .gitignore
  docs/Makefile
  docs/README
  docs/conf.py
  docs/gem5-sphinx
  docs/gem5-sphinx-apidoc
Labels: misc

#1765 arch-riscv: Fix incomplete copy-constructor
  src/arch/riscv/pcstate.hh
Labels: arch-riscv

#1711 arch-riscv: Fix vector instruction assertion caused by speculative execution
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#1775 mem,ruby: Adding SimObject name to SLICC errors.
  src/mem/slicc/ast/AST.py
Labels: mem

#1780 tests: update gpu weekly test to test mis hip instead of fw hip
  .github/workflows/weekly-tests.yaml
  tests/gem5/gpu/test_gpu_pannotia.py
Labels: tests

#1489 mem-ruby, sim-se: Add support for Maybe_Stale blocks in functional reads
  src/mem/ruby/protocol/MESI_Three_Level-L1cache.sm
  src/mem/ruby/protocol/MESI_Three_Level-msg.sm
  src/mem/ruby/protocol/MESI_Two_Level-L2cache.sm
  src/mem/ruby/protocol/MESI_Two_Level-dir.sm
  src/mem/ruby/slicc_interface/AbstractController.hh
  src/mem/ruby/system/RubySystem.cc
Labels: sim-se, mem-ruby

#1659 cpu-o3: Use the generic cache library to build store sets
  configs/common/cores/arm/O3_ARM_v7a.py
  configs/common/cores/arm/ex5_big.py
  src/cpu/o3/BaseO3CPU.py
  src/cpu/o3/SConscript
  src/cpu/o3/mem_dep_unit.cc
  src/cpu/o3/store_set.cc
  src/cpu/o3/store_set.hh
  src/mem/cache/tags/indexing_policies/base.hh
Labels: cpu-o3

#1700 Mfma matrix core timing
  configs/example/apu_se.py
  configs/example/gpufs/amd/AmdGPUOptions.py
  configs/example/gpufs/system/amdgpu.py
  src/gpu-compute/GPU.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/scoreboard_check_stage.cc
  src/gpu-compute/scoreboard_check_stage.hh
Labels: gpu-compute

#1793 base: Fix failing compiler tests
  src/base/random.cc
Labels: base

#1084 mem-ruby, configs: Add a CHI-TLM controller + testing
  configs/ruby/CHI.py
  configs/ruby/CHI_config.py
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
  src/mem/ruby/protocol/chi/generic/CHIGeneric.py
  src/mem/ruby/protocol/chi/generic/CHIGenericController.cc
  src/mem/ruby/protocol/chi/generic/CHIGenericController.hh
  src/mem/ruby/protocol/chi/generic/SConscript
  src/mem/ruby/protocol/chi/tlm/SConscript
  src/mem/ruby/protocol/chi/tlm/SConsopts
  src/mem/ruby/protocol/chi/tlm/TlmController.py
  src/mem/ruby/protocol/chi/tlm/TlmGenerator.py
  src/mem/ruby/protocol/chi/tlm/controller.cc
  src/mem/ruby/protocol/chi/tlm/controller.hh
  src/mem/ruby/protocol/chi/tlm/generator.cc
  src/mem/ruby/protocol/chi/tlm/generator.hh
  src/mem/ruby/protocol/chi/tlm/tlm_chi.cc
  src/mem/ruby/protocol/chi/tlm/tlm_chi.py
  src/mem/ruby/protocol/chi/tlm/tlm_chi_gen.cc
  src/mem/ruby/protocol/chi/tlm/utils.cc
  src/mem/ruby/protocol/chi/tlm/utils.hh
  src/mem/ruby/system/Sequencer.cc
  tests/gem5/chi_tlm_tests/configs/ruby_mem_test.py
  tests/gem5/chi_tlm_tests/configs/suites/read_shared_unit.py
Labels: mem-ruby

#1768 arch-riscv: Use getValidAddr to get zero-extend address in RV32 mode
  src/arch/riscv/tlb.cc
  src/arch/riscv/tlb.hh
Labels: arch-riscv

#1636 stdlib: Add viper board, viper cache, and gpu components
  configs/example/gem5_library/x86-mi300x-gpu.py
  src/python/SConscript
  src/python/gem5/components/boards/abstract_board.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/__init__.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/corepair_cache.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/directory.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/dma_controller.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/sqc.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/tcc.py
  src/python/gem5/components/cachehierarchies/ruby/caches/viper/tcp.py
  src/python/gem5/components/devices/__init__.py
  src/python/gem5/components/devices/gpus/__init__.py
  src/python/gem5/components/devices/gpus/amdgpu.py
  src/python/gem5/components/devices/gpus/viper_shader.py
  src/python/gem5/components/memory/abstract_memory_system.py
  src/python/gem5/components/memory/hbm.py
  src/python/gem5/components/memory/memory.py
  src/python/gem5/prebuilt/viper/__init__.py
  src/python/gem5/prebuilt/viper/board.py
  src/python/gem5/prebuilt/viper/cpu_cache_hierarchy.py
  src/python/gem5/prebuilt/viper/gpu_cache_hierarchy.py
  src/python/gem5/prebuilt/viper/viper_network.py
Labels: stdlib, gpu

#1804 arch-arm: Fix bug in VQRSHL.
  src/arch/arm/isa/insts/neon.isa
Labels: arch-arm

#1813 mem-ruby: Fix conflict between 117 and 1084
  src/mem/ruby/protocol/chi/generic/CHIGenericController.cc
  src/mem/ruby/protocol/chi/generic/CHIGenericController.hh
  src/mem/ruby/protocol/chi/tlm/controller.cc
  src/mem/ruby/protocol/chi/tlm/controller.hh
  src/mem/ruby/protocol/chi/tlm/utils.cc
  src/mem/ruby/protocol/chi/tlm/utils.hh
Labels: mem-ruby

#1419 cpu: LoopPoint analysis object
  src/cpu/probes/pc_count_pair.hh
  src/cpu/probes/pc_count_tracker_manager.cc
  src/cpu/probes/pc_count_tracker_manager.hh
  src/cpu/simple/probes/LooppointAnalysis.py
  src/cpu/simple/probes/SConscript
  src/cpu/simple/probes/looppoint_analysis.cc
  src/cpu/simple/probes/looppoint_analysis.hh
  src/python/pybind11/core.cc
Labels: cpu

#1795 tests: modify gem5/learning-gem5 ref file to fix failure
  tests/gem5/learning_gem5/ref/test
Labels: tests

#1812 arch-arm: Print the ESR_ELx register when generating a fault
  src/arch/arm/faults.cc
Labels: arch-arm

#1823 arch-arm: Fix inconsistency of rint().
  src/arch/arm/insts/vfp.hh
Labels: arch-arm
