Repository gem5/gem5, pull requests merged in 2024-06, with the labels that each got.

#1190 arch-vega: More scratch, accvgpr instructions
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_decoder.hh
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/vop1.cc
  src/arch/amdgpu/vega/operand.hh
Labels: arch-vega

#1173 arch-riscv: Add rvZext to BranchTarget
  src/arch/riscv/isa/formats/compressed.isa
  src/arch/riscv/isa/formats/standard.isa
Labels: arch-riscv

#1080 arch-x86: Fix TLB Assertion Error on CFLUSH
  src/cpu/translation.hh
Labels: arch-x86

#1198 arch-arm: avoid using an uninitialized variable use in MMU walks
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
Labels: arch-arm

#1187 arch-riscv: correctly set dynamic VLEN for all arith instructions
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#1200 arch-arm,mem: Don't hardcode secure mode accesses for semihosting
  src/arch/arm/mmu.cc
  src/arch/generic/mmu.cc
  src/mem/translating_port_proxy.cc
  src/mem/translation_gen.hh
  src/mem/translation_gen.test.cc
Labels: arch-arm, mem

#1221 base: Fix uninitialized variable warning in symtab.test.cc
  src/base/loader/symtab.test.cc
Labels: base

#1213 gpu-compute: Added functions to choose replacement policies for GPU
  configs/example/apu_se.py
  configs/ruby/GPU_VIPER.py
Labels: mem-ruby, gpu

#996 stdlib: Improve gem5 PyStats
  src/python/m5/ext/pystats/__init__.py
  src/python/m5/ext/pystats/abstract_stat.py
  src/python/m5/ext/pystats/group.py
  src/python/m5/ext/pystats/jsonloader.py
  src/python/m5/ext/pystats/serializable_stat.py
  src/python/m5/ext/pystats/simstat.py
  src/python/m5/ext/pystats/statistic.py
  src/python/m5/stats/gem5stats.py
  src/python/pybind11/stats.cc
  src/test_objects/SConscript
  src/test_objects/StatTester.py
  src/test_objects/stat_tester.cc
  src/test_objects/stat_tester.hh
  tests/gem5/stats/configs/pystat_scalar_check.py
  tests/gem5/stats/configs/pystat_sparse_dist_check.py
  tests/gem5/stats/configs/pystat_vector2d_check.py
  tests/gem5/stats/configs/pystat_vector_check.py
  tests/gem5/stats/configs/pystats_simobjectvector_check.py
  tests/gem5/stats/test_pystat_output.py
  tests/gem5/stats/test_simstats_output.py
  tests/pyunit/pystats/pyunit_jsonserializable_check.py
  tests/pyunit/pystats/pyunit_pystats.py
Labels: stats, stdlib

#1230 configs: Add replacement policy options for GPUFS
  configs/example/gpufs/runfs.py
Labels: configs, gpu

#1071 cpu,arch: Add IsInvalid flag to Unknown insts
  src/arch/arm/isa/insts/misc.isa
  src/arch/arm/isa/insts/misc64.isa
  src/arch/mips/isa/formats/unknown.isa
  src/arch/power/isa/formats/unknown.isa
  src/arch/riscv/insts/unknown.hh
  src/arch/sparc/insts/unknown.hh
  src/arch/x86/isa/formats/unknown.isa
  src/cpu/StaticInstFlags.py
  src/cpu/static_inst.hh
Labels: arch, cpu

#1217 gpu-compute, util-m5: add GPU kernel exit events
  configs/example/apu_se.py
Labels: util-m5, gpu-compute

#1182 cpu-o3: Do not set Executed on load instruction to be replayed
  src/cpu/o3/lsq_unit.cc
Labels: cpu-o3

#1248 gpu-compute: Add MFMA stats
  src/arch/amdgpu/vega/insts/instructions.hh
  src/gpu-compute/GPUStaticInstFlags.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/gpu_dyn_inst.hh
  src/gpu-compute/gpu_static_inst.hh
  src/gpu-compute/wavefront.cc
Labels: gpu-compute

#1249 arch-vega: Various MI300 fixes for PyTorch tests
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_decoder.hh
  src/arch/amdgpu/vega/insts/ds.cc
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/arch/amdgpu/vega/insts/vop3.cc
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/wavefront.cc
  src/gpu-compute/wavefront.hh
Labels: gpu, arch-vega

#1226 gpu-compute,mem-ruby: Add RubyHitMiss flag for TCP and TCC cache
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/protocol/GPU_VIPER-msg.sm
  src/mem/ruby/system/GPUCoalescer.cc
  src/mem/ruby/system/GPUCoalescer.hh
Labels: mem-ruby, gpu-compute

#1251 Revert "cpu-o3: Do not set Executed on load instruction to be replayed"
  src/cpu/o3/lsq_unit.cc
Labels: cpu-o3

#1247 arch: Mark FailUnimplemented instructions as Invalid instructions
  src/arch/arm/insts/pseudo.cc
  src/arch/mips/isa/formats/unimp.isa
  src/arch/power/isa/formats/unimp.isa
  src/arch/sparc/insts/unimp.hh
  src/arch/x86/isa/formats/unimp.isa
Labels: arch

#1236 mem-ruby: This commit fixes MI_example protocol
  src/mem/ruby/protocol/MI_example-dir.sm
Labels: mem-ruby

#1234 arch,cpu,sim: Add mechanism to partially print vector regs
  src/arch/arm/isa.hh
  src/arch/generic/isa.hh
  src/arch/generic/vec_reg.hh
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/isa.hh
  src/cpu/exetrace.cc
  src/cpu/exetrace.hh
  src/cpu/inst_res.hh
  src/cpu/reg_class.cc
  src/cpu/reg_class.hh
  src/sim/insttracer.hh
Labels: sim, arch, cpu

#1256 util-docker: Update devcontainer to use Ubuntu 24.04
  util/dockerfiles/devcontainer/Dockerfile
Labels: util-docker

#1267 tests: Fix x86_boot_exit_run.py 'set_max_ticks' typo
  tests/gem5/x86_boot_tests/configs/x86_boot_exit_run.py
Labels: tests, stdlib

#1262 stdlib: Add function to append kernel args
  src/python/gem5/components/boards/kernel_disk_workload.py
Labels: stdlib

#1263 gpu-compute,mem,systemc: This commit corrects typos of 'cache'
  src/gpu-compute/compute_unit.hh
  src/mem/cache/cache.cc
  src/mem/probes/stack_dist.cc
  src/systemc/tests/systemc/utils/sc_report/cached/cached.cpp
Labels: systemc, classic caches, gpu-compute

#1261 configs: Check before use replacement policy options
  configs/ruby/GPU_VIPER.py
Labels: bug, tests, mem-ruby, gpu-compute

#1258 cpu,stdlib: Fix Access Trace for Accessing Indices in SpatterGen
  src/cpu/testers/spatter_gen/spatter_gen.cc
  src/cpu/testers/spatter_gen/spatter_gen.hh
  src/cpu/testers/spatter_gen/utility_structs.hh
  src/python/gem5/components/processors/spatter_gen/spatter_kernel.py
Labels: stdlib, cpu

#1266 cpu: Fix `std::min` type mismatch in reg_class.hh
  src/cpu/reg_class.hh
Labels: compilation error, cpu

#1264 arch-riscv: Fix TLB lookup with vaddrs
  src/arch/riscv/pagetable.cc
  src/arch/riscv/pagetable.hh
  src/arch/riscv/pagetable_walker.cc
  src/arch/riscv/tlb.cc
  src/arch/riscv/tlb.hh
Labels: arch-riscv

#1284 resources: Update client_query to trim gem5 version
  src/python/gem5/resources/client_api/client_query.py
Labels: resources

#1279 dev-arm: This commit fixes a typo in the ARM ldaddalx instruction
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/isa/insts/amo64.isa
Labels: arch-arm

#1290 stdlib,tests: Update resources to v24.0 in Pyunit test
  tests/pyunit/stdlib/resources/refs/mongo-mock.json
  tests/pyunit/stdlib/resources/refs/obtain-resource.json
  tests/pyunit/stdlib/resources/refs/resource-specialization.json
  tests/pyunit/stdlib/resources/refs/resources.json
  tests/pyunit/stdlib/resources/refs/suite-checks.json
  tests/pyunit/stdlib/resources/refs/workload-checks.json
Labels: resources, tests, stdlib

#1289 resources: Update elfie.py to work with obtain_resources
  src/python/gem5/resources/elfie.py
  src/python/gem5/resources/resource.py
Labels: resources

#1295 misc: Merge stable into develop (v24.0 release)
  RELEASE-NOTES.md
  src/Doxyfile
  src/base/version.cc
  src/python/gem5/resources/elfie.py
  src/python/gem5/resources/resource.py
  tests/pyunit/stdlib/resources/refs/mongo-mock.json
  tests/pyunit/stdlib/resources/refs/obtain-resource.json
  tests/pyunit/stdlib/resources/refs/resource-specialization.json
  tests/pyunit/stdlib/resources/refs/resources.json
  tests/pyunit/stdlib/resources/refs/suite-checks.json
  tests/pyunit/stdlib/resources/refs/workload-checks.json
  util/dockerfiles/devcontainer/Dockerfile
Labels: misc

#1260 gpu-compute,mem-ruby: Add RubyHitMiss flag for TCP and TCC cache
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/protocol/GPU_VIPER-msg.sm
  src/mem/ruby/system/GPUCoalescer.cc
  src/mem/ruby/system/GPUCoalescer.hh
Labels: mem-ruby, gpu-compute
