Repository gem5/gem5, pull requests merged in 2024-12, with the labels that each got.

#1491 misc: update fs examples to use ubuntu 24.04 boot workloads
  configs/example/gem5_library/arm-ubuntu-run-with-kvm.py
  configs/example/gem5_library/arm-ubuntu-run.py
  configs/example/gem5_library/riscv-ubuntu-run.py
  configs/example/gem5_library/x86-npb-benchmarks.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm-no-perf.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm.py
  configs/example/gem5_library/x86-ubuntu-run.py
Labels: configs, misc

#1770 tests: add x86-ubuntu-run-with-kvm-no-perf to tests
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
Labels: tests

#1835 arch-riscv: Remove CPU_SET use for non-linux host
  src/arch/riscv/linux/se_workload.cc
Labels: arch-riscv, build error

#1834 base,arch-arm: Add GEM5_NO_OPTIMIZE; use in ARM's vfp.hh
  src/arch/arm/insts/vfp.hh
  src/base/compiler.hh
Labels: arch-arm, build error

#1841 arch-arm: Fix trapping for ZCR_EL12 register
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#1769 gpu-compute: Reverting L1 TLB entries and L1, L2, L3 TLB assoc back to 32 from 64
  configs/common/GPUTLBOptions.py
Labels: gpu-compute

#1844 misc: Add GPU info to release notes
  RELEASE-NOTES.md
Labels: misc

#1842 mem-ruby,misc: Fix RNG range
  src/cpu/testers/gpu_ruby_test/address_manager.cc
Labels: mem-ruby, misc

#1845 mem-ruby: Fix Atomic transitions in VIPER protocol
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
Labels: mem-ruby

#1704 arch-riscv: Implement resumable non-maskable interrupt(Smrnmi)
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/RiscvInterrupts.py
  src/arch/riscv/faults.cc
  src/arch/riscv/faults.hh
  src/arch/riscv/interrupts.cc
  src/arch/riscv/interrupts.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/standard.isa
  src/arch/riscv/regs/misc.hh
  util/cpt_upgraders/riscv-smrnmi.py
Labels: arch-riscv

#1818 arch-arm: Simplify FEAT_PAN implementation
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
Labels: arch-arm

#1861 cpu: Add EpisodeCount debug flag
  src/cpu/testers/gpu_ruby_test/SConscript
  src/cpu/testers/gpu_ruby_test/episode.cc
Labels: tests, cpu
