Repository gem5/gem5, pull requests merged in 2024-09, with the labels that each got.

#1528 util-docker: Add labels to Dockerfiles
  util/dockerfiles/clang-compiler/Dockerfile
  util/dockerfiles/devcontainer/Dockerfile
  util/dockerfiles/gcc-compiler/Dockerfile
  util/dockerfiles/gcn-gpu/Dockerfile
  util/dockerfiles/gpu-fs/Dockerfile
  util/dockerfiles/sst/Dockerfile
  util/dockerfiles/systemc/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_min-dependencies/Dockerfile
Labels: util-docker

#1482 sim-se, arch: Fix syscall parametre sizes for 32-bit OSs
  configs/example/arm/starter_se.py
  src/arch/arm/linux/se_workload.cc
  src/arch/mips/linux/linux.hh
  src/arch/mips/linux/se_workload.cc
  src/arch/power/linux/se_workload.cc
  src/arch/riscv/linux/se_workload.cc
  src/arch/sparc/linux/linux.hh
  src/arch/sparc/linux/syscalls.cc
  src/arch/x86/linux/linux.hh
  src/arch/x86/linux/syscall_tbl32.cc
  src/arch/x86/linux/syscall_tbl64.cc
  src/kern/linux/linux.hh
  src/sim/syscall_emul.cc
  src/sim/syscall_emul.hh
Labels: sim-se, arch

#1530 gpu-compute: Reuse RP list in GPU_VIPER
  configs/example/apu_se.py
  configs/example/gpufs/runfs.py
  configs/ruby/GPU_VIPER.py
Labels: gpu-compute

#1501 ext,tests,misc: Suppress incorrect GCC 12 error in Pybind
  ext/pybind11/include/pybind11/pybind11.h
Labels: tests, ext, compilation error, misc

#1535 python: Ignore *args and **kwargs when generating cxxMethod pybinding script
  src/python/m5/SimObject.py
Labels: python

#1516 cpu-o3: Panic if no FU exists for an instruction needing to issue
  src/cpu/o3/commit.cc
  src/cpu/o3/dyn_inst.hh
  src/cpu/o3/fu_pool.hh
  src/cpu/o3/inst_queue.cc
Labels: cpu-o3

#1556 cpu-o3: Replace integral constants by named constants in FU pool
  src/cpu/o3/fu_pool.cc
Labels: cpu-o3

#1552 arch-riscv: Change the packed data of GdbRegCache to protected
  src/arch/riscv/remote_gdb.hh
Labels: arch-riscv

#1548 util-docker: Move `LABEL` to after image import
  util/dockerfiles/clang-compiler/Dockerfile
  util/dockerfiles/devcontainer/Dockerfile
  util/dockerfiles/gcc-compiler/Dockerfile
  util/dockerfiles/gcn-gpu/Dockerfile
  util/dockerfiles/gpu-fs/Dockerfile
  util/dockerfiles/sst/Dockerfile
  util/dockerfiles/systemc/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_min-dependencies/Dockerfile
Labels: util-docker

#1486 misc,github,tests: Remove gerrit change ID requirement
  .github/workflows/ci-tests.yaml
  .pre-commit-config.yaml
  ext/git-commit-msg
  util/git-commit-msg.py
Labels: tests, github, misc

#1551 python: Redirect into correct subdirectory when using -re with multisim
  src/python/gem5/utils/multiprocessing/_command_line.py
  src/python/gem5/utils/multisim/multisim.py
  src/python/m5/core.py
  src/python/m5/main.py
Labels: python

#1499 stdlib: Issue warn if func is a gen for exit_event
  src/python/gem5/simulate/simulator.py
Labels: stdlib

#1564 mem-ruby: Fix replacement policy in GPU_VIPER
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby

#1569 arch-arm: Fix DC IVAC for Secure EL2
  src/arch/arm/isa/insts/data64.isa
Labels: arch-arm

#1586 util-docker: Minor docker improvements/fixes
  util/dockerfiles/clang-compiler/Dockerfile
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/gcc-compiler/Dockerfile
  util/dockerfiles/gcn-gpu/Dockerfile
  util/dockerfiles/gpu-fs/Dockerfile
  util/dockerfiles/sst/Dockerfile
  util/dockerfiles/systemc/Dockerfile
  util/dockerfiles/ubuntu-22.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_min-dependencies/Dockerfile
Labels: util-docker

#1587 scons: Fix scons 'readCommand' non-zero exits
  site_scons/gem5_scons/util.py
Labels: scons

#1560 arch-arm: Move generateTrap from MiscRegOp to ArmStaticInst
  src/arch/arm/insts/misc64.cc
  src/arch/arm/insts/misc64.hh
  src/arch/arm/insts/static_inst.cc
  src/arch/arm/insts/static_inst.hh
Labels: arch-arm

#1594 gpu-compute: Fix '64kB' to '64KiB' in gpu-compute
  src/gpu-compute/GPU.py
  src/gpu-compute/LdsState.py
Labels: gpu, gpu-compute

#1590 arch-riscv: Move static GDB methods to RemoteGDB virtual methods
  src/arch/riscv/remote_gdb.cc
  src/arch/riscv/remote_gdb.hh
Labels: arch-riscv

#1538 arch-riscv: add VLEN/ELEN as class attributes for all vec insts
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa.cc
  src/arch/riscv/isa.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/formats/vector_conf.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/arch/riscv/pcstate.hh
Labels: arch-riscv

#1580 misc: Make random gen portable across compilers.
  src/base/SConscript
  src/base/random.hh
  src/base/random.test.cc
Labels: base

#1604 util: Update gem5-resources-manager
  util/gem5-resources-manager/requirements.txt
Labels: util

#1576 ext: Fix GCC v13+ comp of systemc due to problematic overloaded-virtual warn
  .github/workflows/weekly-tests.yaml
  src/systemc/ext/tlm_core/2/sockets/target_socket.hh
Labels: bug, ext, compilation error

#1584 tests: Add Pannotia GPU Tests
  tests/gem5/gpu/README.md
  tests/gem5/gpu/test_gpu_pannotia.py
Labels: gpu

#1610 arch-arm: Add a method to determine External Abort
  src/arch/arm/faults.cc
  src/arch/arm/faults.hh
Labels: arch-arm

#1609 mem-cache: Helper functions to allow dynamic configuration of partitioning policies
  src/mem/cache/tags/partitioning_policies/max_capacity_pp.cc
  src/mem/cache/tags/partitioning_policies/max_capacity_pp.hh
  src/mem/cache/tags/partitioning_policies/way_pp.cc
  src/mem/cache/tags/partitioning_policies/way_pp.hh
Labels: mem
