Repository gem5/gem5, pull requests merged in 2024-05, with the labels that each got.

#1091 arch-riscv: Fix interrupt and status CSR behavoir
  src/arch/riscv/isa/formats/standard.isa
Labels: arch-riscv

#1076 arch-riscv: Fix VCSR read behavoir
  src/arch/riscv/isa.cc
Labels: arch-riscv

#1101 mem-ruby: Implement MakeReadUnique in CHI
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
Labels: mem-ruby

#1093 gpu-compute: Invalidate Scalar cache when SQC invalidates
  configs/ruby/GPU_VIPER.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/scalar_memory_pipeline.cc
Labels: gpu-compute

#1103 gpu: Consolidated fixes for v24.0
  configs/example/gpufs/system/system.py
  src/arch/amdgpu/vega/insts/sop2.cc
  src/arch/amdgpu/vega/insts/vop3.cc
  src/arch/amdgpu/vega/operand.hh
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/interrupt_handler.cc
  src/dev/amdgpu/interrupt_handler.hh
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/amdgpu/sdma_engine.cc
  src/gpu-compute/SConscript
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/gpu_static_inst.cc
  src/gpu-compute/gpu_static_inst.hh
  src/gpu-compute/lds_state.hh
Labels: gpu, arch-vega, gpu-compute

#1040 arch-x86: Add XCR0 register and add to X86KvmCPU
  configs/example/gem5_library/checkpoints/simpoints-se-restore.py
  src/arch/x86/fs_workload.cc
  src/arch/x86/isa.cc
  src/arch/x86/kvm/x86_cpu.cc
  src/arch/x86/kvm/x86_cpu.hh
  src/arch/x86/regs/misc.hh
  src/arch/x86/x86_traits.hh
  tests/gem5/checkpoint_tests/configs/x86-fs-restore-checkpoint.py
  tests/gem5/checkpoint_tests/configs/x86-hello-restore-checkpoint.py
  util/cpt_upgraders/x86-add-xcr0.py
Labels: arch-x86

#1100 mem-ruby: Implement NS bit for CHI transactions
  src/mem/ruby/protocol/RubySlicc_Types.sm
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
  src/mem/ruby/protocol/chi/CHI-msg.sm
  src/mem/ruby/slicc_interface/RubyRequest.hh
Labels: mem-ruby

#1118 mem-ruby: Fix NullPointerException in RubyRequest
  src/mem/ruby/slicc_interface/RubyRequest.hh
Labels: mem-ruby

#1079 arch-riscv: Fix narrowing/widening type-convert instructions
  src/arch/riscv/isa/formats/vector_arith.isa
Labels: arch-riscv

#1120 arch-vega: Fix SDWA dst select
  src/arch/amdgpu/vega/insts/inst_util.hh
Labels: arch-vega

#1099 arch-riscv: Fix CSR instruction behavior 2nd attempts
  src/arch/riscv/isa.cc
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/standard.isa
  src/arch/riscv/regs/misc.hh
Labels: arch-riscv

#1082 arch-arm: Implement FEAT_MPAM in CPU
  src/arch/arm/ArmISA.py
  src/arch/arm/ArmSystem.py
  src/arch/arm/SConscript
  src/arch/arm/isa.cc
  src/arch/arm/isa.hh
  src/arch/arm/mmu.cc
  src/arch/arm/mpam.cc
  src/arch/arm/mpam.hh
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_accessors.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
Labels: arch-arm

#1114 configs: nvm sweep fix
  configs/nvm/sweep.py
  configs/nvm/sweep_hybrid.py
Labels: configs

#1123 arch-riscv: Add RVV FP16 support (Zvfh & Zvfhmin)
  ext/softfloat/softfloat_types.h
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/regs/float.hh
  src/arch/riscv/utility.hh
Labels: arch-riscv

#1039 cpu: Don't change to suspend if the thread status is halted
  src/cpu/o3/thread_context.cc
  src/cpu/simple_thread.cc
Labels: cpu

#1134 arch-riscv: Fix vrgather instruction
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#1141 dev-amdgpu,gpu-compute,configs: MI300X
  configs/example/gpufs/mi300.py
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/amdgpu.py
  configs/example/gpufs/system/system.py
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/pm4_defines.hh
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/amdgpu/pm4_packet_processor.hh
  src/gpu-compute/GPU.py
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/gpu_static_inst.hh
  src/gpu-compute/hsa_queue_entry.hh
  src/gpu-compute/wavefront.cc
  src/gpu-compute/wavefront.hh
Labels: gpu

#1138 arch-x86: Improve KVM set XCR
  src/arch/x86/isa.cc
  src/arch/x86/kvm/x86_cpu.cc
Labels: bug

#1137 arch-riscv: Fix viota instruction
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#1127 Revert "cpu-kvm: Support perf counters on hybrid host architectures"
  src/cpu/kvm/BaseKvmCPU.py
  src/cpu/kvm/base.cc
  src/cpu/kvm/base.hh
  src/cpu/kvm/perfevent.cc
  src/cpu/kvm/perfevent.hh
Labels: cpu-kvm

#1152 arch-riscv: Fix GDB connection failed after #1099
  src/arch/riscv/remote_gdb.cc
Labels: arch-riscv

#1153 arch-riscv: add exception code to DPRINTFS msg
  src/arch/riscv/faults.cc
Labels: arch-riscv

#1145 misc: Remove gcc 8 support, gem5 support GCC >= v10
  .github/workflows/compiler-tests.yaml
  SConstruct
  util/dockerfiles/docker-compose.yaml
  util/dockerfiles/sst/Dockerfile
Labels: tests, util-docker, github, misc

#1146 misc: Revert Dramsys Ubuntu to 22.04 to compile in gcc <13
  .github/workflows/weekly-tests.yaml
Labels: tests, ext, github

#1105 util, ext: Fix building TLM
  ext/systemc/SConscript
  util/tlm/SConstruct
Labels: util, ext

#1176 arch-arm: TLBIs targeting EL2 regime are executable from S state
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#1156 mem-ruby: Remove VIPER StoreThrough temp cache storage
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
Labels: bug, gpu

#1178 misc,tests: Download all gem5 bins via one artifact
  .github/workflows/daily-tests.yaml
Labels: tests, github, misc

#1175 arch-arm: Implement HCR_EL2 force broadcast for EL1&0 TLBIs
  src/arch/arm/insts/misc.cc
  src/arch/arm/insts/misc64.cc
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/isa/insts/data64.isa
  src/arch/arm/tlbi_op.hh
Labels: arch-arm

#1157 dev-amdgpu: Fix pending PCI RLC doorbell
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/amdgpu_device.hh
  src/dev/amdgpu/sdma_engine.cc
Labels: bug, gpu

#1172 arch-x86: break 32/64-bit mov's input dependency on prior dest value
  src/arch/x86/isa/microops/regop.isa
Labels: arch-x86

#1171 arch-x86: set AF=0 when logical instructions execute
  src/arch/x86/isa/insts/general_purpose/compare_and_test/test.py
  src/arch/x86/isa/insts/general_purpose/logical.py
  src/arch/x86/isa/microops/regop.isa
Labels: arch-x86

#1179 mem-cache: Fix maybe-uninitialized warning
  src/mem/cache/replacement_policies/replaceable_entry.hh
Labels: classic caches

#1117 mem-ruby: Reduce handshaking between CorePair and dir
  src/mem/ruby/protocol/MOESI_AMD_Base-CorePair.sm
  src/mem/ruby/protocol/MOESI_AMD_Base-dir.sm
Labels: mem-ruby

#1183 arch-vega: Fix clang comp error due to constant exp
  src/arch/amdgpu/vega/insts/instructions.hh
Labels: gpu, compilation error, arch-vega, gpu-compute
