Repository gem5/gem5, pull requests merged in 2024-04, with the labels that each got.

#887 sim-se: Implement statx system call for Linux x86-64
  src/arch/x86/linux/linux.hh
  src/arch/x86/linux/syscall_tbl64.cc
  src/sim/syscall_emul.hh
Labels: sim-se

#955 arch-vega: Operand selectors for accumulation registers
  src/arch/amdgpu/vega/gpu_registers.hh
Labels: arch-vega

#977 util-m5: Add default M5OP_ADDR to arm64
  util/m5/src/abi/arm64/SConsopts
  util/m5/src/m5_mmap.c
Labels: arch-arm

#985 arch-riscv: Use TeX's escape seq in Python instead of Unicode
  src/arch/riscv/RiscvInterrupts.py
Labels: arch-riscv

#979 misc,github: Upgrade checkout and upload/download-artifact Actions to latest version
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
Labels: github, misc

#987 misc: Sync develop .github to stable
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
Labels: github, misc

#959 base: Fix 'doGzipLoad' str manipulation
  src/base/loader/image_file_data.cc
Labels: base

#989 sim-se: Fix copyOutStatxBuf compile error
  src/sim/syscall_emul.hh
Labels: bug, sim-se

#964 arch-riscv: Fix the RiscvBareMetal parameter reset_vect
  src/arch/riscv/RiscvFsWorkload.py
  src/arch/riscv/bare_metal/fs_workload.cc
Labels: arch-riscv

#945 mem-ruby: Copyback UD_RU line when evicted in CHI protocol
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
Labels: mem-ruby

#972 stdlib: Fix 'nozero' for Scalar SimStats
  src/python/m5/stats/gem5stats.py
  src/python/pybind11/stats.cc
Labels: stats, stdlib

#971 stdlib: Specify typing for SimStat Scalar value
  src/python/m5/ext/pystats/statistic.py
Labels: stats, stdlib

#970 stdlib: Move SimStat 'unit' and 'datatype' field to Scalar
  src/python/m5/ext/pystats/statistic.py
  src/python/m5/stats/gem5stats.py
Labels: stats, stdlib

#998 arch-riscv: fix c.fswsp source register
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#900 arch-riscv,sim: m5ops argument / return fix for 32 bit RISC-V
  src/arch/arm/reg_abi.hh
  src/arch/arm/semihosting.hh
  src/arch/riscv/isa/formats/m5ops.isa
  src/arch/riscv/isa/operands.isa
  src/arch/riscv/linux/linux.hh
  src/arch/riscv/reg_abi.hh
  src/arch/sparc/pseudo_inst_abi.hh
  src/arch/x86/pseudo_inst_abi.hh
  src/sim/guest_abi/layout.hh
  src/sim/pseudo_inst.cc
  src/sim/pseudo_inst.hh
  src/sim/syscall_abi.hh
Labels: sim, arch-riscv

#967 stdlib: Add tree structure to the AbstractCacheHierarchy
  src/python/gem5/components/cachehierarchies/abstract_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/classic/private_l1_private_l2_cache_hierarchy.py
Labels: stdlib

#589 cpu,arch-arm,arch-riscv: adding new instruction types to RISC-V
  src/arch/arm/isa/insts/sve.isa
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/cpu/FuncUnit.py
  src/cpu/minor/BaseMinorCPU.py
  src/cpu/o3/FuncUnitConfig.py
  src/cpu/op_class.hh
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_core.py
Labels: arch-riscv

#1007 cpu-o3, arch-x86: initialize interrupts for all SMT threads
  src/cpu/BaseCPU.py
Labels: cpu-o3, arch-x86

#911 misc: Add a DevContainer specification to the gem5 repo
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  util/dockerfiles/devcontainer/Dockerfile
  util/dockerfiles/docker-bake.hcl
Labels: github, misc

#1017 util-docker: Update docker-compose URLs to 'ghcr.io/gem5'
  util/dockerfiles/docker-compose.yaml
Labels: util-docker

#1027 misc: bump dnspython in /util/gem5-resource-manager
  util/gem5-resources-manager/requirements.txt
Labels: dependencies

#1030 dev-arm: Do not mark the MpamMSC as abstract
  src/dev/arm/Mpam.py
Labels: dev-arm

#1022 github: Update 'ubuntu-22.04' to 'ubuntu-latest'
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#1023 arch-vega: Fix output warnings, gem5.fast
  src/arch/amdgpu/vega/operand.hh
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/exec_stage.cc
  src/gpu-compute/shader.cc
Labels: gpu, build error

#1018 tests,util-docker,github: Add Ubuntu 24.04 Docker image & updated tests/actions to use it
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/docker-compose.yaml
  util/dockerfiles/ubuntu-24.04_all-dependencies/Dockerfile
  util/dockerfiles/ubuntu-24.04_min-dependencies/Dockerfile
Labels: tests, util-docker, github

#1021 tests,github: Update CI Tests' GitHub Actions versions
  .github/workflows/ci-tests.yaml
Labels: tests, github

#1025 util-docker: Bump gpu-fs build docker to ROCm 6.0.2
  util/dockerfiles/gpu-fs/Dockerfile
  util/dockerfiles/gpu-fs/README.md
Labels: util-docker, gpu

#931 tests,arch-riscv: update bitmanip asmtest binaries
  tests/gem5/asmtest/tests.py
Labels: tests, arch-riscv

#1009 dev: Fix interrupt logic in uart8250
  src/dev/serial/uart8250.cc
  src/dev/serial/uart8250.hh
Labels: dev

#1024 arch-x86: Movfp account for dataSize=4
  src/arch/x86/isa/microops/fpop.isa
Labels: arch-x86

#994 mem-ruby: Implement no_alloc Far Atomics in CHI
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
Labels: mem-ruby

#1038 misc: Fix jq install for testlib-quick-matrix
  .github/workflows/ci-tests.yaml
Labels: tests, github

#1026 github,tests: Add Pyunit tests to CI GitHub Action Workflow
  .github/workflows/ci-tests.yaml
  src/python/gem5/resources/resource.py
  tests/pyunit/stdlib/resources/pyunit_client_wrapper_checks.py
  tests/pyunit/stdlib/resources/pyunit_suite_checks.py
  tests/pyunit/stdlib/resources/refs/suite-checks.json
  tests/pyunit/stdlib/resources/refs/workload-checks.json
Labels: tests, github

#1043 misc: Merge .github develop dir to stable
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
Labels: github

#1041 configs: GPUFS: Turn off SSE4 and fancy XSAVEs
  configs/example/gpufs/system/system.py
Labels: gpu

#1048 misc,tests: Remove zip step from Workflows
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#1051 misc: Sync stable .github with develop
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests, github, misc

#1046 util: Enable m5term Apple Mac OS Compilation
  util/term/term.c
Labels: util

#1061 mem-cache: Remove power-of-2 requirement for TreePLRU num leaves
  src/mem/cache/replacement_policies/tree_plru_rp.cc
Labels: classic caches

#1060 arch-arm: Refactor PTW
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
  src/arch/arm/tlb.hh
Labels: arch-arm

#1063 tests: Fix gem5 testlib compilation
  tests/gem5/fixture.py
Labels: tests, build error

#1072 arch-arm: Add misc_accessor templated functions to read/write regs at different ELs
  src/arch/arm/faults.cc
  src/arch/arm/faults.hh
  src/arch/arm/regs/misc_accessors.hh
Labels: arch-arm

#1045 mem-ruby: Fix functional reads for MESI Three-Level messages
  src/mem/ruby/protocol/MESI_Three_Level-msg.sm
Labels: mem-ruby

#1047 cpu-o3: Clear current macro-op in fetch if squashing after last micro-op
  src/cpu/o3/fetch.cc
Labels: cpu-o3

#1056 cpu-o3: prioritize exiting threads when committing
  src/cpu/o3/commit.cc
Labels: cpu-o3

#1059 systemc: remove if clause in Gem5ToTlmBridgeBase
  src/systemc/tlm_bridge/gem5_to_tlm.cc
Labels: systemc

#1078 arch-riscv: Add Integer Conditional operations extension (Zicond) instructions
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv
