Repository gem5/gem5, pull requests merged in 2024-02, with the labels that each got.

#804 util: Update gcn-gpu to remove GCN3 add gfx902
  util/dockerfiles/gcn-gpu/Dockerfile
Labels: util-docker, gpu

#817 tests: Switch to vega_x86 from gcn3_x86 in daily tests
  .github/workflows/daily-tests.yaml
Labels: tests

#831 misc: Merge develop .github dir into stable
  .github/dependabot.yml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/gpu-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: github, misc

#824 dev: Fix off-by-one in IDE controller PCI register allocation
  src/dev/storage/ide_ctrl.hh
Labels: dev

#841 misc: Merge .github dir from develop to stable
  .github/workflows/daily-tests.yaml
Labels: github, misc

#843 arch-riscv: Fix RVV instructions vmv.s.x/vfmv.s.f
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#837 misc: bump mypy from 1.5.1 to 1.8.0
  requirements.txt
Labels: misc

#836 misc: Update actions/checkout from v3 to v4
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/weekly-tests.yaml
Labels: github, misc

#795 systemc: Reduce unnecessary backdoor request in atomic transaction
  src/systemc/tlm_bridge/tlm_to_gem5.cc
  src/systemc/tlm_bridge/tlm_to_gem5.hh
Labels: systemc

#848 arch-arm: Crypto instruction execution requires SIMD to be enabled
  src/arch/arm/isa/insts/crypto.isa
  src/arch/arm/isa/insts/crypto64.isa
Labels: arch-arm

#849 arch-arm: Remove unused/unimplemented TLB methods
  src/arch/arm/tlb.hh
Labels: arch-arm

#846 arch-riscv: Add BasePMAChecker to support customized PMA
  src/arch/riscv/PMAChecker.py
  src/arch/riscv/RiscvMMU.py
  src/arch/riscv/RiscvTLB.py
  src/arch/riscv/SConscript
  src/arch/riscv/mmu.hh
  src/arch/riscv/pagetable_walker.hh
  src/arch/riscv/pma_checker.cc
  src/arch/riscv/pma_checker.hh
  src/arch/riscv/tlb.hh
Labels: arch-riscv

#847 tests: Allow pyunit tests to run on specific directories
  tests/run_pyunit.py
Labels: tests

#850 misc: Add 'workflow_dispatch' to daily tests
  .github/workflows/daily-tests.yaml
Labels: tests, github, misc

#845 tests: move to obtain-resources from wget
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
Labels: tests

#813 arch-riscv: adding support for local interrupts
  src/arch/riscv/RiscvInterrupts.py
  src/arch/riscv/SConscript
  src/arch/riscv/faults.hh
  src/arch/riscv/interrupts.cc
  src/arch/riscv/interrupts.hh
  src/arch/riscv/regs/misc.hh
Labels: arch-riscv

#794 arch-riscv: add unit-stride fault-only-first loads (i.e. vle*ff)
  src/arch/riscv/faults.cc
  src/arch/riscv/faults.hh
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#856 util: Remove action runner add-apt-repo git-core/ppa
  util/github-runners-vagrant/provision_root.sh
Labels: util, github

#859 arch-riscv: Fix load and store to use EEW instead of SEW
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#830 arch-riscv: fix vl in mask load/store (i.e vlm.v/vsm.v)
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#857 mem-cache: Fix circular dependency in QoS mem
  src/mem/qos/QoSMemSinkCtrl.py
  src/mem/qos/QoSMemSinkInterface.py
Labels: classic caches

#852 arch-vega,gpu-compute,mem-ruby: SQC Invalidation Support
  configs/example/apu_se.py
  configs/example/gpufs/system/amdgpu.py
  src/arch/amdgpu/vega/insts/sopp.cc
  src/gpu-compute/GPU.py
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/fetch_unit.cc
  src/gpu-compute/fetch_unit.hh
  src/gpu-compute/scalar_memory_pipeline.cc
  src/gpu-compute/scalar_memory_pipeline.hh
  src/gpu-compute/shader.cc
  src/gpu-compute/shader.hh
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
  src/mem/ruby/protocol/RubySlicc_Types.sm
  src/mem/ruby/system/Sequencer.cc
  src/mem/ruby/system/Sequencer.hh
Labels: mem-ruby, gpu-compute

#842 cpu-o3: add PerThreadUnifiedThreadMap to O3 CPU
  src/cpu/o3/commit.cc
  src/cpu/o3/commit.hh
  src/cpu/o3/cpu.hh
  src/cpu/o3/rename.cc
  src/cpu/o3/rename.hh
  src/cpu/o3/rename_map.hh
Labels: cpu-o3

#871 mem-cache: Fix possible crash in base prefetcher
  src/mem/cache/prefetch/base.cc
Labels: classic caches

#828 cpu-o3, arch: Fix SMT bug arising from v23.0 and make gem5 more robust with SMT
  src/arch/mips/isa.cc
  src/arch/power/isa.cc
  src/arch/sparc/isa.cc
  src/arch/x86/isa.cc
  src/cpu/o3/cpu.cc
  src/cpu/o3/rename.cc
  src/cpu/o3/rename_map.hh
Labels: cpu-o3, arch

#877 arch-x86, cpu-kvm: initialize x87 FCW
  src/arch/x86/process.cc
Labels: cpu-kvm, arch-x86

#873 arch-arm: Add FEAT_FGT trapping for debug registers
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
Labels: arch-arm

#868 arch-riscv: Fix fflags behavior of float inst. in O3 CPU
  src/arch/riscv/isa.cc
  src/arch/riscv/isa/formats/fp.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/regs/misc.hh
Labels: cpu-o3, arch-riscv

#890 stdlib: Add get_last_exit_event_code to get m5 exit status code
  src/python/gem5/simulate/simulator.py
Labels: stdlib

#880 python,util: Fix SimObjectParams default constructor and destructor
  build_tools/sim_object_param_struct_hh.py
Labels: util, python

#791 mem-ruby: Fix possible dirty line loss in CHI when ReadShared hit on UD line
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
Labels: mem-ruby

#886 arch-riscv,dev: Update the PLIC implementation
  src/dev/riscv/HiFive.py
  src/dev/riscv/Plic.py
  src/dev/riscv/plic.cc
  src/dev/riscv/plic.hh
  src/python/gem5/components/boards/experimental/lupv_board.py
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
Labels: arch-riscv, dev

#875 configs: Ensure m5ops base doesn't overlap physical mem in KVM
  configs/deprecated/example/se.py
Labels: configs

#858 tests: Add compiler test for gcc 13
  .github/workflows/compiler-tests.yaml
  util/dockerfiles/docker-compose.yaml
  util/dockerfiles/ubuntu-22.04_gcc_13-version/Dockerfile
Labels: tests

#889 mem: QoS q_policy assertions fix
  src/mem/qos/q_policy.cc
  src/mem/qos/q_policy.hh
Labels: mem

#861 util: update list_changes.py to support multiple Change-Ids
  util/maint/list_changes.py
Labels: util

#894 mem-ruby: Add missing transition for SLC writes to VIPER TCC
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby, gpu

#899 mem-ruby: Add categorization of bypassed atomics in TCC
  src/mem/ruby/protocol/GPU_VIPER-TCC.sm
Labels: mem-ruby, gpu

#797 Increased packets sanity check limit to 1024
  src/mem/packet_queue.cc
Labels: mem

#892 sim-se, arch-x86: initialize max stack size from parameter
  src/arch/x86/process.cc
Labels: sim-se, arch-x86

#895 arch-vega: Implement accumulation offset
  src/arch/amdgpu/vega/insts/vop3p.cc
  src/arch/amdgpu/vega/insts/vop3p_mai.cc
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/hsa_queue_entry.hh
  src/gpu-compute/wavefront.cc
  src/gpu-compute/wavefront.hh
Labels: gpu, arch-vega

#826 python: Adding fatal statement to notify user mistakes.
  src/python/m5/SimObject.py
Labels: python
