Repository gem5/gem5, pull requests merged in 2024-10, with the labels that each got.

#1574 arch-x86,stdlib: added MADT entries on the X86Board
  src/python/gem5/components/boards/x86_board.py
Labels: stdlib, arch-x86

#1571 python: Add warning message for set_workload being called twice
  src/python/gem5/components/boards/abstract_board.py
  src/python/gem5/components/boards/kernel_disk_workload.py
  src/python/gem5/components/boards/se_binary_workload.py
Labels: stdlib

#1559 arch-riscv: fix viota
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#1616 arch-arm: Add recursive reduce in Neon instruction.
  src/arch/arm/isa/insts/neon64.isa
Labels: arch-arm

#1621 dev-amdgpu: Use GPU specific cache line size
  configs/example/gpufs/system/system.py
  src/dev/amdgpu/AMDGPU.py
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/memory_manager.cc
  src/dev/amdgpu/memory_manager.hh
Labels: gpu

#1617 arch-riscv: Implement CLINT reset feature
  src/dev/riscv/Clint.py
  src/dev/riscv/clint.cc
  src/dev/riscv/clint.hh
Labels: arch-riscv

#1633 dev-amdgpu: Deprecate rom and mmio trace params
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/amdgpu.py
  src/dev/amdgpu/AMDGPU.py
  src/dev/amdgpu/amdgpu_device.cc
Labels: gpu

#1635 learning-gem5,tests: Update learning-gem5 Ruby Test ref
  tests/gem5/learning_gem5/ref/test
Labels: tests, mem-ruby, learning-gem5

#1639 cpu-o3: Add Crypto OpDesc to the O3 Default FU
  src/cpu/o3/FuncUnitConfig.py
Labels: cpu-o3

#1640 cpu-o3: Add Matrix OpDesc to the O3 Default FU
  src/cpu/o3/FUPool.py
  src/cpu/o3/FuncUnitConfig.py
Labels: cpu-o3

#1509 Use board get_mem_ports consistently
  src/python/gem5/components/boards/arm_board.py
  src/python/gem5/components/cachehierarchies/classic/no_cache.py
  src/python/gem5/components/cachehierarchies/classic/private_l1_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/classic/private_l1_private_l2_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/classic/private_l1_shared_l2_cache_hierarchy.py
Labels: stdlib

#1647 misc: Add "src/python" to vscode Python Analysis Paths
  .vscode/settings.json
Labels: misc, python

#1615 cpu: fix simInsts and simOps not resetting
  src/cpu/base.cc
  src/cpu/base.hh
  src/cpu/o3/probe/elastic_trace.cc
Labels: stats, cpu

#1533 arch-arm: Add support of AArch32 VCVTA/P/N/M instructions.
  src/arch/arm/isa/formats/fp.isa
  src/arch/arm/isa/insts/neon.isa
Labels: arch-arm

#1537 Implement BTB using the cache library
  configs/common/cores/arm/HPI.py
  configs/common/cores/arm/O3_ARM_v7a.py
  configs/common/cores/arm/ex5_big.py
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/SConscript
  src/cpu/pred/btb_entry.hh
  src/cpu/pred/simple_btb.cc
  src/cpu/pred/simple_btb.hh
Labels: cpu

#1654 tests,misc: Remove `edited` from PR Action trigger list
  .github/workflows/ci-tests.yaml
Labels: tests, github, misc

#1646 util-docker,tests: Add compiler tests & Dockerfiles for GCC 14
  .github/workflows/compiler-tests.yaml
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/gcc-compiler/Dockerfile
Labels: tests, util-docker

#1653 tests: Refactor downloading of pannotia tests
  tests/gem5/gpu/test_gpu_pannotia.py
Labels: tests

#1652 misc: Add 'ext' & 'tests' to vscode pythin extraPaths
  .vscode/settings.json
Labels: tests, misc, python

#1525 arch-riscv: Add support for riscv hardware probing syscall
  src/arch/riscv/linux/linux.hh
  src/arch/riscv/linux/se_workload.cc
Labels: arch-riscv

#1618 stdlib,arch-x86: Update X86Demoboard
  src/python/gem5/prebuilt/demo/x86_demo_board.py
Labels: stdlib, arch-x86

#1478 arch-arm: Add arm demo board
  configs/example/gem5_library/arm-demo-ubuntu-run.py
  src/python/SConscript
  src/python/gem5/prebuilt/demo/arm_demo_board.py
Labels: arch-arm, stdlib, misc

#1662 systemc: Disable 'overloaded-virtual' warn for clang
  src/systemc/ext/core/sc_export.hh
  src/systemc/ext/core/sc_port.hh
  src/systemc/ext/tlm_core/2/sockets/initiator_socket.hh
  src/systemc/ext/tlm_core/2/sockets/target_socket.hh
Labels: systemc

#1631 tests: update input sizes for pannotia tests
  tests/gem5/gpu/test_gpu_pannotia.py
Labels: tests

#1666 scons,misc: Portable debug flag generation
  build_tools/debugflaghh.py
Labels: scons, misc

#1685 mem-ruby,misc: Remove redundant assignment
  src/mem/ruby/common/DataBlock.cc
Labels: mem-ruby, compilation error

#1686 learning-gem5: Add `ruby_system` param set to `RubyPortProxy`
  configs/learning_gem5/part3/test_caches.py
Labels: bug, mem-ruby, learning-gem5

#1695 tests: Fix replacement_policies tests' refs
  tests/gem5/replacement_policies/ref/fifo_test1_ld
  tests/gem5/replacement_policies/ref/fifo_test1_st
  tests/gem5/replacement_policies/ref/fifo_test2_ld
  tests/gem5/replacement_policies/ref/fifo_test2_st
  tests/gem5/replacement_policies/ref/lfu_test1_ld
  tests/gem5/replacement_policies/ref/lfu_test1_st
  tests/gem5/replacement_policies/ref/lfu_test2_ld
  tests/gem5/replacement_policies/ref/lfu_test2_st
  tests/gem5/replacement_policies/ref/lfu_test3_ld
  tests/gem5/replacement_policies/ref/lfu_test3_st
  tests/gem5/replacement_policies/ref/lip_test1_ld
  tests/gem5/replacement_policies/ref/lip_test1_st
  tests/gem5/replacement_policies/ref/lru_test1_ld
  tests/gem5/replacement_policies/ref/lru_test1_st
  tests/gem5/replacement_policies/ref/lru_test2_ld
  tests/gem5/replacement_policies/ref/lru_test2_st
  tests/gem5/replacement_policies/ref/lru_test3_ld
  tests/gem5/replacement_policies/ref/lru_test3_st
  tests/gem5/replacement_policies/ref/lru_test4_ld
  tests/gem5/replacement_policies/ref/lru_test4_st
  tests/gem5/replacement_policies/ref/mru_test1_ld
  tests/gem5/replacement_policies/ref/mru_test1_st
  tests/gem5/replacement_policies/ref/mru_test2_ld
  tests/gem5/replacement_policies/ref/mru_test2_st
  tests/gem5/replacement_policies/ref/nru_test1_ld
  tests/gem5/replacement_policies/ref/nru_test1_st
  tests/gem5/replacement_policies/ref/rrip_test1_ld
  tests/gem5/replacement_policies/ref/rrip_test1_st
  tests/gem5/replacement_policies/ref/rrip_test2_ld
  tests/gem5/replacement_policies/ref/rrip_test2_st
  tests/gem5/replacement_policies/ref/second_chance_test1_ld
  tests/gem5/replacement_policies/ref/second_chance_test1_st
  tests/gem5/replacement_policies/ref/second_chance_test2_ld
  tests/gem5/replacement_policies/ref/second_chance_test2_st
  tests/gem5/replacement_policies/ref/second_chance_test3_ld
  tests/gem5/replacement_policies/ref/second_chance_test3_st
  tests/gem5/replacement_policies/ref/tree_plru_test1_ld
  tests/gem5/replacement_policies/ref/tree_plru_test1_st
  tests/gem5/replacement_policies/ref/tree_plru_test2_ld
  tests/gem5/replacement_policies/ref/tree_plru_test2_st
  tests/gem5/replacement_policies/ref/tree_plru_test3_ld
  tests/gem5/replacement_policies/ref/tree_plru_test3_st
Labels: tests

#1690 mem-ruby: Fix issues in protocols due to multi-RubySystem
  configs/learning_gem5/part3/msi_caches.py
  src/mem/ruby/common/WriteMask.hh
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-mem.sm
  src/mem/ruby/system/RubySystem.cc
  src/mem/slicc/symbols/StateMachine.py
  src/mem/slicc/symbols/Type.py
Labels: mem-ruby

#1684 dev: move dprint of reg name before register read/write
  src/dev/reg_bank.hh
Labels: dev

#1697 arch-arm: Implement AT as standalone instructions
  src/arch/arm/faults.cc
  src/arch/arm/faults.hh
  src/arch/arm/insts/misc64.cc
  src/arch/arm/insts/misc64.hh
  src/arch/arm/isa.cc
  src/arch/arm/isa.hh
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/isa/insts/data64.isa
  src/arch/arm/isa/operands.isa
  src/arch/arm/isa/templates/misc64.isa
Labels: arch-arm

#1683 arch-x86: break 32/64-bit LEA's input dependency on prior dest value
  src/arch/x86/isa/microops/ldstop.isa
Labels: arch-x86

#1655 arch-arm: Add support of AArch32 VRINTN/X/A/Z/M/P instructions.
  src/arch/arm/insts/vfp.hh
  src/arch/arm/isa/formats/fp.isa
  src/arch/arm/isa/insts/neon.isa
Labels: arch-arm

#1490 stdlib, configs: Add RiscvDemoBoard
  configs/example/gem5_library/riscv-demo-board-run.py
  src/python/SConscript
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/prebuilt/demo/riscv_demo_board.py
Labels: configs, stdlib

#1526 arch-riscv: Fix the bug of vsetivli frequently flushing the pipeline
  src/arch/riscv/isa/formats/vector_conf.isa
Labels: arch-riscv

#1651 mem-ruby,tests: Add CHI with ISA tests
  tests/gem5/chi_protocol/README.md
  tests/gem5/chi_protocol/configs/chi-with-isa.py
  tests/gem5/chi_protocol/refs/matrix-multiply-stdout.txt
  tests/gem5/chi_protocol/test_chi_per_isa.py
Labels: tests, mem-ruby

#1698 tests: move weekly gpu tests to have separate jobs
  .github/workflows/weekly-tests.yaml
  tests/gem5/gpu/test_gpu_pannotia.py
Labels: tests

#1713 arch-arm: Replace translateAtomic with translateFunctional in AT
  src/arch/arm/insts/misc64.cc
Labels: arch-arm

#1716 util-docker: Add RISCV to Ubuntu all-deps Docker platforms
  util/dockerfiles/docker-bake.hcl
Labels: util-docker

#1399 mem-ruby: Prevent LL/SC livelock in MESI protocols (#1384)
  src/mem/ruby/protocol/MESI_Three_Level-L0cache.sm
  src/mem/ruby/protocol/MESI_Two_Level-L1cache.sm
  src/mem/ruby/system/Sequencer.cc
Labels: arch-arm, cpu-o3, mem-ruby

#1693 configs,scons: Update scripts and build_opts to make GPU-FS simulations more configurable
  build_opts/VEGA_X86
  configs/example/gpufs/amd/AmdGPUOptions.py
  configs/example/gpufs/system/amdgpu.py
Labels: configs, gpu

#1694 mem-ruby: Re-enable assign with implicit_ctor structures
  src/mem/slicc/ast/AssignStatementAST.py
  src/mem/slicc/ast/LocalVariableAST.py
  src/mem/slicc/ast/MemberExprAST.py
Labels: mem-ruby

#1731 util-docker: Add qemu-riscv-env Dockerfile
  util/dockerfiles/docker-bake.hcl
  util/dockerfiles/qemu-riscv-env/Dockerfile
Labels: util-docker, arch-riscv

#1702 Add SE mode to X86Board and RiscvBoard
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/components/boards/x86_board.py
  src/python/gem5/prebuilt/demo/riscv_demo_board.py
  src/python/gem5/prebuilt/demo/x86_demo_board.py
Labels: stdlib

#1737 sim: Add include guards in simulate.hh
  src/sim/simulate.hh
Labels: sim
