Repository gem5/gem5, pull requests merged in 2025-10, with the labels that each got.

#2619 arch-riscv: new vector instructions
  src/arch/riscv/isa/bitfields.isa
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
  src/arch/riscv/types.hh
  src/arch/riscv/utility.hh
Labels: arch-riscv

#2627 stdlib: Decouple the AbstractCore from the chi L1CacheController
  src/python/gem5/components/cachehierarchies/chi/nodes/l1_cache.py
  src/python/gem5/components/cachehierarchies/chi/private_l1_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/chi/private_l1_private_l2_cache_hierarchy.py
Labels: stdlib

#2599 arch-vega: Implement remaining non-MFMA CDNA4 instructions
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_decoder.hh
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/vop1.cc
  src/arch/amdgpu/vega/insts/vop3.cc
  src/arch/amdgpu/vega/insts/vop3p.cc
  src/gpu-compute/wavefront.cc
  src/gpu-compute/wavefront.hh
Labels: gpu, arch-vega, gpu-compute

#2634 mem: Remove deprecated port names in mem
  src/mem/AddrMapper.py
  src/mem/Bridge.py
  src/mem/CommMonitor.py
  src/mem/MemChecker.py
  src/mem/MemDelay.py
  src/mem/SerialLink.py
  src/mem/XBar.py
  src/mem/qos/QoSMemCtrl.py
  src/mem/ruby/network/MessageBuffer.py
  src/mem/ruby/network/Network.py
  src/mem/ruby/system/Sequencer.py
Labels: mem, mem-ruby

#2614 stdlib: Improvements for VIPER board
  configs/example/gem5_library/x86-mi300x-gpu.py
  src/python/gem5/prebuilt/viper/board.py
  src/python/gem5/prebuilt/viper/cpu_cache_hierarchy.py
Labels: stdlib, gpu

#2641 configs: Fix ruby_fs.py platform after PCI change
  configs/example/arm/devices.py
  configs/example/arm/ruby_fs.py
Labels: configs, mem-ruby

#2631 arch-riscv: hot fix in `vclmulh`
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#2638 Cleanup some python imports
  src/python/gem5/components/boards/se_binary_workload.py
  src/python/m5/debug.py
Labels: python
