Repository gem5/gem5, pull requests merged in 2025-07, with the labels that each got.

#2417 arch-riscv: Make PLIC output lantency configurable
  src/dev/riscv/Plic.py
  src/dev/riscv/plic.cc
  src/dev/riscv/plic.hh
Labels: arch-riscv

#2401 configs: deprecate configs/example/riscv/fs_linux.py
  configs/deprecated/example/riscv/fs_linux.py
Labels: configs

#2418 arch-vega: MI350 microscaling updates
  src/arch/amdgpu/common/dtype/fp4_e2m1.hh
  src/arch/amdgpu/common/dtype/fp6_e2m3.hh
  src/arch/amdgpu/common/dtype/fp6_e3m2.hh
  src/arch/amdgpu/common/dtype/mxfp.hh
  src/arch/amdgpu/common/dtype/mxfp.test.cc
  src/arch/amdgpu/common/dtype/mxfp_convert.hh
  src/arch/amdgpu/common/dtype/mxfp_type_info.hh
  src/arch/amdgpu/common/dtype/mxfp_types.hh
Labels: gpu

#2308 cpu: Add user-mode stats
  src/cpu/base.cc
  src/cpu/base.hh
  src/cpu/kvm/base.cc
  src/cpu/minor/execute.cc
  src/cpu/o3/commit.cc
  src/cpu/o3/cpu.cc
  src/cpu/o3/cpu.hh
  src/cpu/simple/base.cc
Labels: stats, cpu

#2422 arch-vega: Fix incorrect address translation caused by tlb
  src/arch/amdgpu/vega/tlb.cc
Labels: gpu, arch-vega

#2314 Introduce git-clang-format to gem5 with wrapper script (Option 2 of 2)
  .clang-format
  .pre-commit-config.yaml
  util/run-git-clang-format.py
Labels: misc

#2436 arch-vega: GPU TLB Multi Page Size Support
  src/arch/amdgpu/vega/tlb.cc
  src/arch/amdgpu/vega/tlb.hh
Labels: arch-vega

#2435 arch-vega: Add Large Pagesize Support to GPU TLB Coalescer
  src/arch/amdgpu/vega/VegaGPUTLB.py
  src/arch/amdgpu/vega/tlb_coalescer.cc
  src/arch/amdgpu/vega/tlb_coalescer.hh
Labels: arch-vega

#2444 cpu-o3: Print OpClass name instead of number for debug purposes
  src/cpu/o3/commit.cc
Labels: cpu-o3

#2399 cpu: Fix looppoint analysis v25
  src/cpu/simple/probes/looppoint_analysis.cc
  src/cpu/simple/probes/looppoint_analysis.hh
Labels: cpu

#2468 misc: Modify clang-format to no break in method declarations
  .clang-format
Labels: misc

#2469 sim: Add map to sim_exit.hh includes
  src/sim/sim_exit.hh
Labels: sim

#2407 python: Remove m5 internal
  configs/common/ObjectList.py
  src/python/SConscript
  src/python/m5/SimObject.py
  src/python/m5/internal/__init__.py
  src/python/m5/internal/params.py
  src/python/m5/params.py
Labels: python

#2228 misc: Add useful workspace settings for GitHub and PR extensions
  .vscode/settings.json
Labels: misc

#2487 Improve SystemC stability
  src/systemc/core/event.cc
  src/systemc/core/event.hh
  src/systemc/core/object.cc
  src/systemc/core/object.hh
  src/systemc/core/sc_event.cc
  src/systemc/core/sc_module.cc
  src/systemc/core/sc_object.cc
  src/systemc/tests/SConscript
Labels: systemc

#2474 arch-riscv: fix bug about never start next PTW
  src/arch/riscv/pagetable_walker.cc
Labels: arch-riscv

#2477 cpu: move conditional pred out of bpred_unit
  configs/common/cores/arm/HPI.py
  configs/common/cores/arm/O3_ARM_v7a.py
  configs/common/cores/arm/ex5_big.py
  src/cpu/minor/BaseMinorCPU.py
  src/cpu/o3/BaseO3CPU.py
  src/cpu/pred/2bit_local.cc
  src/cpu/pred/2bit_local.hh
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/SConscript
  src/cpu/pred/bi_mode.cc
  src/cpu/pred/bi_mode.hh
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
  src/cpu/pred/conditional.cc
  src/cpu/pred/conditional.hh
  src/cpu/pred/multiperspective_perceptron.cc
  src/cpu/pred/multiperspective_perceptron.hh
  src/cpu/pred/tage.cc
  src/cpu/pred/tage.hh
  src/cpu/pred/tournament.cc
  src/cpu/pred/tournament.hh
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_core.py
Labels: cpu

#2499 cpu: Workaround missing IsUnconditional flag
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
Labels: cpu
