Repository gem5/gem5, pull requests merged in 2025-05, with the labels that each got.

#2237 arch-mips: Avoid incidental use of VLA in sizeof expression
  src/arch/mips/tlb.cc
Labels: arch-mips

#2235 arch-x86: Don't use non ISO C++ variable length arrays
  src/arch/x86/bios/intelmp.cc
  src/arch/x86/linux/se_workload.cc
Labels: arch-x86

#2225 sim, util: changes to the external signal handler
  src/sim/async.cc
  src/sim/async.hh
  src/sim/init_signals.cc
  src/sim/init_signals.hh
  src/sim/simulate.cc
  util/hypercall_external_signal/transmitter.py
Labels: sim, util

#2207 misc: Increase Clang support to v19; Drop GCC v10 support
  .github/workflows/ci-tests.yaml
  .github/workflows/compiler-tests.yaml
  SConstruct
  util/dockerfiles/docker-bake.hcl
Labels: misc

#2246 tests: Reduce the gpu_ruby_rand Daily tests to 1h
  tests/gem5/gpu/test_gpu_ruby_random.py
  tests/gem5/gpu/test_gpu_ruby_random_wbL2.py
Labels: tests

#2215 sim: convert entering event queue message to debug flag
  src/sim/SConscript
  src/sim/simulate.cc
Labels: sim

#2243 arch-vega: Ignore EXEC SGPR dest for VOP3 V_CMPX_*
  src/arch/amdgpu/vega/insts/op_encodings.cc
Labels: gpu, arch-vega

#2241 mem-ruby: Fix DMA sequencer request size above 64
  src/mem/ruby/system/DMASequencer.cc
  src/mem/ruby/system/DMASequencer.hh
Labels: mem-ruby

#2252 python: Add OptionalParam to support std::optional.
  src/python/m5/params.py
Labels: python

#2255 mem-ruby: fix wired deadlocks when running ruby_random_test with -n > 18
  src/cpu/testers/rubytest/Check.cc
  src/cpu/testers/rubytest/Check.hh
  src/cpu/testers/rubytest/RubyTester.cc
  src/cpu/testers/rubytest/RubyTester.hh
Labels: mem-ruby

#2256 configs: Enable bootloader argument for RISCV simulations
  configs/common/Options.py
Labels: configs

#2257 arch-sparc: Fix SyntaxWarnings in sparc/isa/base.isa
  src/arch/sparc/isa/base.isa
Labels: arch-sparc

#2249 resources: return a copy of resource JSON to avoid mutations
  src/python/gem5/resources/client_api/jsonclient.py
Labels: resources

#2234 dev-amdgpu: Don't use VLA in device (de)serialization
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/amdgpu/sdma_engine.cc
  src/sim/serialize.hh
Labels: gpu

#2217 scons: Remove -Wno-vla-cxx-extension. gem5 is now VLA-clean
  SConstruct
Labels: scons

#2245 tests,misc: Improve dir finding for GH Actions; merge separate jobs
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
  tests/gem5/gem5_library_example_tests/arm/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/benchmarks/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/checkpoints/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/misc/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/multisim/ref/simout_multisim_print_this_list.txt
  tests/gem5/gem5_library_example_tests/multisim/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/riscv/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/test_gem5_library_examples.py
  tests/gem5/gem5_library_example_tests/x86/test_gem5_library_examples.py
  tests/gem5/pyunit/test_run.py
Labels: tests, misc

#2259 arch-x86: Return early from MWAIT if address monitor is not armed
  src/arch/x86/isa/formats/monitor_mwait.isa
Labels: arch-x86

#2263 arch-vega,gpu-compute: Opcode overrides based on gfx version
  src/arch/amdgpu/vega/gpu_decoder.cc
  src/arch/amdgpu/vega/gpu_decoder.hh
  src/arch/amdgpu/vega/insts/instructions.hh
  src/arch/amdgpu/vega/insts/vop2.cc
  src/gpu-compute/fetch_unit.cc
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
  src/gpu-compute/shader.cc
  src/gpu-compute/shader.hh
Labels: gpu, arch-vega, gpu-compute

#2260 dev: Adopt OptionalParam for DmaDevice.
  src/dev/Device.py
Labels: dev

#2264 misc: Introduce dictionary parameters (DictParam) in gem5
  build_tools/cxx_config_cc.py
  build_tools/cxx_config_hh.py
  build_tools/sim_object_param_struct_hh.py
  configs/example/read_config.py
  src/python/m5/SimObject.py
  src/python/m5/params.py
  src/sim/cxx_config.hh
  src/sim/cxx_config_ini.cc
  src/sim/cxx_config_ini.hh
  src/sim/cxx_manager.cc
  src/sim/cxx_manager.hh
Labels: sim, configs, python

#1854 Speculative update for TAGE-SC-L
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/ltage.hh
  src/cpu/pred/multiperspective_perceptron_tage.cc
  src/cpu/pred/multiperspective_perceptron_tage.hh
  src/cpu/pred/multiperspective_perceptron_tage_64KB.cc
  src/cpu/pred/multiperspective_perceptron_tage_64KB.hh
  src/cpu/pred/multiperspective_perceptron_tage_8KB.cc
  src/cpu/pred/multiperspective_perceptron_tage_8KB.hh
  src/cpu/pred/statistical_corrector.cc
  src/cpu/pred/statistical_corrector.hh
  src/cpu/pred/tage.hh
  src/cpu/pred/tage_base.cc
  src/cpu/pred/tage_base.hh
  src/cpu/pred/tage_sc_l.cc
  src/cpu/pred/tage_sc_l.hh
  src/cpu/pred/tage_sc_l_64KB.cc
  src/cpu/pred/tage_sc_l_64KB.hh
  src/cpu/pred/tage_sc_l_8KB.cc
  src/cpu/pred/tage_sc_l_8KB.hh
Labels: cpu

#2276 scons: Use two return booleans for DictParams in cxx_config
  build_tools/cxx_config_cc.py
Labels: scons

#2162 arch-vega: Add pagetable walker buffer
  src/arch/amdgpu/vega/SConscript
  src/arch/amdgpu/vega/VegaGPUTLB.py
  src/arch/amdgpu/vega/page_walk_cache.hh
  src/arch/amdgpu/vega/pagetable_walker.cc
  src/arch/amdgpu/vega/pagetable_walker.hh
Labels: arch-vega

#2280 dev: add value check for debug flag
  src/dev/reg_bank.hh
Labels: dev

#2278 stdlib, tests: Fix ruby cache init signature
  src/python/gem5/components/cachehierarchies/ruby/mesi_three_level_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/ruby/mesi_two_level_cache_hierarchy.py
  src/python/gem5/components/cachehierarchies/ruby/mi_example_cache_hierarchy.py
  tests/gem5/replacement_policies/configs/cache_hierarchies.py
  tests/gem5/traffic_gen/configs/simple_traffic_run.py
Labels: tests, stdlib

#2173 cpu-o3: put unsent mem req to retry queue
  src/cpu/o3/iew.cc
  src/cpu/o3/iew.hh
  src/cpu/o3/inst_queue.cc
  src/cpu/o3/inst_queue.hh
  src/cpu/o3/lsq_unit.cc
Labels: cpu-o3

#2285 arch-arm: Initialize the BaseMMU::Mode in TLBTypes::KeyType
  src/arch/arm/pagetable.cc
Labels: arch-arm

#2284 dev: Update MI300X model to use real firmware
  configs/example/gpufs/mi200.py
  configs/example/gpufs/mi300.py
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/amdgpu.py
  configs/example/gpufs/system/system.py
  src/dev/amdgpu/AMDGPU.py
  src/dev/amdgpu/amdgpu_device.cc
  src/dev/amdgpu/amdgpu_nbio.cc
  src/dev/amdgpu/amdgpu_nbio.hh
  src/dev/amdgpu/amdgpu_vm.cc
  src/dev/amdgpu/amdgpu_vm.hh
  src/dev/amdgpu/pm4_packet_processor.cc
  src/dev/amdgpu/sdma_engine.cc
  src/python/gem5/components/devices/gpus/amdgpu.py
  src/python/gem5/prebuilt/viper/board.py
Labels: stdlib, gpu

#2272 gpu-compute,arch-vega: Included two new DS instructions
  src/arch/amdgpu/vega/gpu_registers.cc
  src/arch/amdgpu/vega/insts/ds.cc
  src/arch/amdgpu/vega/insts/instructions.hh
Labels: arch-vega, gpu-compute

#2289 dev: Print warn_access message in IsaFake
  src/dev/isa_fake.cc
Labels: dev

#2291 mem: fixed bug with prefetcher probes
  src/mem/cache/prefetch/base.cc
Labels: mem

#2288 arch: Fix isa_parser Format initial
  src/arch/isa_parser/isa_parser.py
Labels: arch

#2274 stdlib: correct memory range check in dramsim3
  src/python/gem5/components/memory/dramsim_3.py
Labels: stdlib

#2286 arch-riscv: Fix move scalar to vector tail agnostic behaviour
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#2287 arch-arm: Implement FEAT_FHM and FEAT_FRINTTS.
  src/arch/arm/ArmSystem.py
  src/arch/arm/insts/fplib.cc
  src/arch/arm/insts/fplib.hh
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/isa/formats/fp.isa
  src/arch/arm/isa/formats/neon64.isa
  src/arch/arm/isa/insts/fp64.isa
  src/arch/arm/isa/insts/neon.isa
  src/arch/arm/isa/insts/neon64.isa
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#2240 resources: Update backend API
  src/python/SConscript
  src/python/gem5/resources/client.py
  src/python/gem5/resources/client_api/azure_functions_client.py
  src/python/gem5_default_config.py
  tests/pyunit/stdlib/resources/pyunit_client_wrapper_checks.py
Labels: resources

#2023 arch-riscv: Add support for fault-only-first unit-stride segment load instructions
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/cpu/FuncUnit.py
  src/cpu/o3/FuncUnitConfig.py
  src/cpu/op_class.hh
Labels: arch-riscv

#2323 util: Update upstream_msg_filter.sed to support macOS
  util/maint/upstream_msg_filter.sed
Labels: util

#2319 misc: bump pyupgrade from v3.19.1 to v3.20.0
  .pre-commit-config.yaml
Labels: misc

#2328 Bug fix for configs/ruby/Ruby.py
  configs/ruby/Ruby.py
Labels: mem-ruby

#2326 mem-garnet,mem-ruby: Fixed Garnet_standalone simulation
  configs/ruby/Garnet_standalone.py
  src/mem/slicc/symbols/StateMachine.py
Labels: mem-ruby, mem-garnet

#2324 scons: Fix gcc version compare
  SConstruct
Labels: scons
