Repository gem5/gem5, pull requests merged in 2025-06, with the labels that each got.

#2317 arch-arm: Add read/write function to FPCR/FPSR.
  src/arch/arm/fastmodel/CortexA76/thread_context.cc
  src/arch/arm/fastmodel/CortexR52/thread_context.cc
  src/arch/arm/isa.cc
  src/arch/arm/isa/operands.isa
  src/arch/arm/nativetrace.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/remote_gdb.cc
  src/arch/arm/tracers/tarmac_parser.cc
Labels: arch-arm

#2022 arch-riscv: Add support for vector stride segment load/store instructions
  src/arch/riscv/insts/vector.cc
  src/arch/riscv/insts/vector.hh
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/isa/formats/vector_mem.isa
  src/arch/riscv/isa/templates/vector_mem.isa
  src/cpu/FuncUnit.py
  src/cpu/o3/FuncUnitConfig.py
  src/cpu/op_class.hh
Labels: arch-riscv

#2346 Add missing operands to disassembly for common arm instructions
  src/arch/arm/insts/macromem.cc
  src/arch/arm/insts/macromem.hh
  src/arch/arm/insts/mem64.cc
  src/arch/arm/insts/misc64.cc
  src/arch/arm/insts/misc64.hh
  src/arch/arm/isa/formats/aarch64.isa
  src/arch/arm/isa/insts/misc64.isa
  src/arch/arm/isa/templates/misc64.isa
Labels: arch-arm

#2349 util, stdlib: changes to hypercall external signal
  src/python/gem5/simulate/exit_handler.py
  util/hypercall_external_signal/orchestrator-request.py
  util/hypercall_external_signal/transmitter.py
Labels: util, stdlib

#2350 arch-vega: Included modifiers support in vop3_cmp instructions
  src/arch/amdgpu/vega/insts/vop3_cmp.cc
Labels: arch-vega, gpu-compute

#2357 mem: Skip redundant test in AddrRange::isSubset in 1-byte ranges.
  src/base/addr_range.hh
Labels: mem

#2307 arch-riscv: fix vcpyvs µops for vector indexed loads
  src/arch/riscv/isa/templates/vector_mem.isa
Labels: arch-riscv

#2343 tests: Update pyunit tests to work with v25.0
  tests/pyunit/stdlib/resources/pyunit_obtain_resources_check.py
  tests/pyunit/stdlib/resources/pyunit_resource_specialization.py
  tests/pyunit/stdlib/resources/pyunit_suite_checks.py
  tests/pyunit/stdlib/resources/refs/obtain-resource.json
  tests/pyunit/stdlib/resources/refs/resource-specialization.json
  tests/pyunit/stdlib/resources/refs/suite-checks.json
Labels: tests

#2366 tests: CHI_ prefix needed after ALL protocol PR
  tests/gem5/chi_tlm_tests/configs/ruby_mem_test.py
Labels: tests, mem-ruby

#2360 stdlib: change multisim stderr.txt to simerr.txt
  src/python/m5/core.py
Labels: stdlib

#2341 arch-riscv: Remove N extension
  src/arch/riscv/RiscvISA.py
  src/arch/riscv/fault_codes.hh
  src/arch/riscv/faults.cc
  src/arch/riscv/gdb-xml/riscv-32bit-csr.xml
  src/arch/riscv/gdb-xml/riscv-64bit-csr.xml
  src/arch/riscv/interrupts.cc
  src/arch/riscv/isa.cc
  src/arch/riscv/isa/decoder.isa
  src/arch/riscv/regs/misc.hh
  src/arch/riscv/remote_gdb.cc
  src/arch/riscv/remote_gdb.hh
Labels: arch-riscv

#2362 arch-riscv: Remove unneeded flushAll
  src/arch/riscv/faults.cc
  src/arch/riscv/isa.cc
  src/arch/riscv/isa/decoder.isa
Labels: arch-riscv

#2367 stdlib: Return HTTP error for Azure Func API
  src/python/gem5/resources/client_api/azure_functions_client.py
Labels: stdlib

#2365 tests: Reduce Nightly/Weekly X86/ARM Boot tests
  tests/gem5/arm_boot_tests/configs/arm_boot_exit_run.py
  tests/gem5/arm_boot_tests/test_linux_boot.py
  tests/gem5/x86_boot_tests/test_linux_boot.py
Labels: tests

#2368 stdlib: Append resource version to cached resource filename
  configs/example/apu_se.py
  src/python/gem5/resources/resource.py
  tests/gem5/gpu/test_gpu_apu_se.py
  tests/gem5/se_mode/rvv_intrinsic_tests/test.py
  tests/pyunit/stdlib/resources/pyunit_resource_specialization.py
Labels: stdlib

#2378 arch-arm: Enable new FP extensions in SE mode
  src/arch/arm/ArmISA.py
  src/arch/arm/process.cc
Labels: arch-arm

#2082 tests: add tests for restoring from checkpoints using multisim
  tests/gem5/multisim/configs/hello-restore-checkpoint.py
  tests/gem5/multisim/configs/riscv-hello-restore-checkpoints.py
  tests/gem5/multisim/test-multisim.py
Labels: tests

#2376 arch-riscv: Fix PMP checking
  src/arch/riscv/pmp.cc
  src/arch/riscv/pmp.hh
Labels: arch-riscv

#2386 arch-riscv: Fix mstatus.mprv check
  src/arch/riscv/tlb.cc
Labels: arch-riscv

#2397 util: bump urllib3 to 2.5.0 in util/gem5-resources-manager
  util/gem5-resources-manager/requirements.txt
Labels: util

#2396 configs: Fix bootloader argument parsing in legacy RISC-V script
  configs/example/riscv/fs_linux.py
Labels: configs

#2400 arch-riscv: Fix bootloader & kernel load address
  src/arch/riscv/RiscvFsWorkload.py
  src/arch/riscv/linux/fs_workload.cc
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
Labels: arch-riscv
