Repository gem5/gem5, pull requests merged in 2025-09, with the labels that each got.

#2555 arch-arm: bug fixes for generic timing registers in SE mode
  src/arch/arm/isa.cc
  src/arch/arm/regs/misc.cc
Labels: arch-arm

#2569 arch-arm,base: Fix ramdisk loading
  src/arch/arm/linux/fs_workload.cc
  src/base/loader/image_file_data.cc
  src/base/loader/image_file_data.hh
Labels: arch-arm, base

#2570 dev: Fix PCI host bridge with no range from up
  src/dev/arm/RealView.py
  src/dev/pci/PciUpstream.py
  src/dev/pci/SConscript
  src/dev/pci/bus.cc
  src/dev/pci/bus.hh
  src/dev/pci/up_down_bridge.cc
  src/dev/pci/up_down_bridge.hh
  src/dev/pci/upstream.cc
  src/dev/pci/upstream.hh
  src/dev/x86/Pc.py
  src/mem/xbar.hh
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/components/boards/x86_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
Labels: dev

#2572 stdlib: Update types in AbstractMemorySystem
  src/python/gem5/components/memory/abstract_memory_system.py
  src/python/gem5/components/memory/hbm.py
  src/python/gem5/components/memory/memory.py
Labels: stdlib

#2546 Toward removing main.py as a dependence
  configs/example/gem5_library/exit_handling/user-exit-handler.py
  src/python/gem5/components/boards/abstract_board.py
  src/python/gem5/components/boards/arm_board.py
  src/python/gem5/components/boards/riscv_board.py
  src/python/gem5/prebuilt/riscvmatched/riscvmatched_board.py
  src/python/gem5/simulate/simulator.py
  src/python/m5/__init__.py
  src/python/m5/citations.py
  src/python/m5/simulate.py
Labels: stdlib, python

#359 Decoupled front end
  configs/example/gem5_library/fdp-hello.py
  src/arch/x86/decoder.cc
  src/arch/x86/tlb.cc
  src/arch/x86/tlb.hh
  src/cpu/o3/BaseO3CPU.py
  src/cpu/o3/SConscript
  src/cpu/o3/bac.cc
  src/cpu/o3/bac.hh
  src/cpu/o3/comm.hh
  src/cpu/o3/cpu.cc
  src/cpu/o3/cpu.hh
  src/cpu/o3/decode.cc
  src/cpu/o3/decode.hh
  src/cpu/o3/fetch.cc
  src/cpu/o3/fetch.hh
  src/cpu/o3/ftq.cc
  src/cpu/o3/ftq.hh
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
  src/cpu/pred/tage_sc_l.cc
  src/cpu/pred/tage_sc_l.hh
  src/mem/cache/base.cc
  src/mem/cache/prefetch/Prefetcher.py
  src/mem/cache/prefetch/SConscript
  src/mem/cache/prefetch/base.hh
  src/mem/cache/prefetch/fdp.cc
  src/mem/cache/prefetch/fdp.hh
  src/mem/cache/prefetch/multi.cc
  src/mem/cache/prefetch/multi.hh
  tests/gem5/fdp_tests/README.md
  tests/gem5/fdp_tests/ref/Bubblesort
  tests/gem5/fdp_tests/ref/FloatMM
  tests/gem5/fdp_tests/run.py
  tests/gem5/fdp_tests/test.py
Labels: arch-arm, cpu-o3, mem, arch-riscv, arch-x86, cpu

#2601 python: Add missing escape in param_types cxx_ini-parse func
  src/python/m5/params/param_types.py
Labels: python

#2608 mem-cache: Cleanup headers and python imports in mem/cache
  src/mem/cache/base.cc
  src/mem/cache/base.hh
  src/mem/cache/cache.cc
  src/mem/cache/cache_probe_arg.hh
  src/mem/cache/prefetch/base.cc
  src/mem/cache/prefetch/indirect_memory.cc
  src/mem/cache/prefetch/queued.cc
  src/mem/cache/tags/Tags.py
  src/mem/cache/tags/base_set_assoc.hh
  src/mem/cache/tags/fa_lru.cc
  src/mem/cache/tags/sector_tags.cc
Labels: mem

#2524 tests: IPC Regression Tests
  tests/gem5/regression_tests/README.md
  tests/gem5/regression_tests/configs/hello-world-binary.py
  tests/gem5/regression_tests/configs/matrix-multiply.py
  tests/gem5/regression_tests/test_regression_tests.py
Labels: tests

#1977 mem-cache: Unit test FIFO RP
  src/mem/cache/replacement_policies/SConscript
  src/mem/cache/replacement_policies/fifo_rp.test.cc
Labels: tests, mem
