Repository gem5/gem5, pull requests merged in 2025-02, with the labels that each got.

#1480 gem5 Bridge Driver
  util/gem5_bridge/Makefile
  util/gem5_bridge/gem5_bridge.c
  util/m5/src/m5_mmap.c
Labels: util, stdlib

#1953 configs: `exec` -> `importlib` for Ruby.py dynamic imports
  configs/ruby/Ruby.py
Labels: configs

#1439 sim,mem,cpu,arch-arm: Add support for cache PMU events
  src/arch/arm/ArmPMU.py
  src/arch/arm/pmu.cc
  src/arch/arm/pmu.hh
  src/cpu/o3/probe/elastic_trace.cc
  src/cpu/o3/probe/simple_trace.cc
  src/cpu/probes/inst_tracker.cc
  src/cpu/probes/pc_count_tracker.cc
  src/cpu/simple/probes/looppoint_analysis.cc
  src/cpu/simple/probes/simpoint.cc
  src/mem/cache/compressors/frequent_values.cc
  src/mem/cache/compressors/frequent_values.hh
  src/mem/cache/prefetch/base.cc
  src/mem/cache/prefetch/base.hh
  src/mem/cache/prefetch/pif.cc
  src/mem/cache/prefetch/pif.hh
  src/mem/probes/base.cc
  src/mem/probes/base.hh
  src/sim/power/power_model.cc
  src/sim/power/power_model.hh
  src/sim/probe/probe.cc
  src/sim/probe/probe.hh
  src/sim/probe/probe_listener_object.cc
  src/sim/probe/probe_listener_object.hh
Labels: arch-arm, sim, mem

#1964 misc: Hotfix v24.1.0.2
  RELEASE-NOTES.md
  src/Doxyfile
  src/base/version.cc
  src/mem/ruby/structures/TBETable.hh
  src/mem/slicc/symbols/StateMachine.py
Labels: mem, mem-ruby

#1976 gpu-compute: GPU progress prints and debug tracing
  configs/example/gpufs/runfs.py
  configs/example/gpufs/system/amdgpu.py
  src/arch/amdgpu/vega/insts/ds.cc
  src/arch/amdgpu/vega/insts/flat.cc
  src/arch/amdgpu/vega/insts/mubuf.cc
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/arch/amdgpu/vega/operand.hh
  src/gpu-compute/GPU.py
  src/gpu-compute/SConscript
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/global_memory_pipeline.cc
  src/gpu-compute/global_memory_pipeline.hh
  src/gpu-compute/gpu_dyn_inst.cc
  src/gpu-compute/local_memory_pipeline.cc
  src/gpu-compute/local_memory_pipeline.hh
  src/gpu-compute/scalar_memory_pipeline.cc
  src/gpu-compute/scalar_memory_pipeline.hh
  src/gpu-compute/scalar_register_file.hh
  src/gpu-compute/schedule_stage.cc
  src/gpu-compute/scoreboard_check_stage.cc
  src/gpu-compute/scoreboard_check_stage.hh
  src/gpu-compute/shader.cc
  src/gpu-compute/shader.hh
  src/gpu-compute/vector_register_file.hh
  src/gpu-compute/wavefront.cc
  src/gpu-compute/wavefront.hh
Labels: gpu, gpu-compute

#1981 util-docker: Fix missing gfortran in gcn-gnu
  util/dockerfiles/gcn-gpu/Dockerfile
Labels: util-docker, gpu

#2013 python: Fix python 3.8 TypeError error in gem5stats
  src/python/m5/stats/gem5stats.py
Labels: stats, python

#1999 dev-amdgpu: Add RLC queues to checkpoint
  src/dev/amdgpu/sdma_engine.cc
  src/dev/amdgpu/sdma_engine.hh
Labels: gpu, dev

#2044 base, arch-arm: New version of decoding for AdvSIMD
  src/arch/arm/isa/formats/aarch64.isa
  src/base/bitfield.hh
  src/base/bitfield.test.cc
Labels: arch-arm, base

#2039 gpu-compute: Added MFMA insts, check if inst exists
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/scoreboard_check_stage.cc
Labels: arch-vega, gpu-compute
