Repository gem5/gem5, pull requests merged in 2025-03, with the labels that each got.

#1945 base: Refactor base/random to avoid memory leak
  src/base/random.cc
  src/base/random.hh
  src/base/random.test.cc
  src/mem/ruby/network/MessageBuffer.cc
  src/sim/syscall_emul.hh
Labels: base

#1912 resources: Add exceptions if the resource JSON has schema issues
  src/python/gem5/resources/client_api/abstract_client.py
  src/python/gem5/resources/client_api/jsonclient.py
  src/python/gem5/resources/downloader.py
  src/python/gem5/resources/resource.py
  tests/pyunit/stdlib/resources/pyunit_obtain_resources_check.py
  tests/pyunit/stdlib/resources/refs/obtain-resource.json
Labels: resources, stdlib

#2059 mem-ruby: Implement CHI ReadNoSnp Request
  src/mem/ruby/protocol/chi/CHI-cache-actions.sm
  src/mem/ruby/protocol/chi/CHI-cache-funcs.sm
  src/mem/ruby/protocol/chi/CHI-cache-transitions.sm
  src/mem/ruby/protocol/chi/CHI-cache.sm
Labels: mem-ruby

#499 cpu: BPU support for decoupled front-end
  src/cpu/pred/2bit_local.cc
  src/cpu/pred/2bit_local.hh
  src/cpu/pred/bi_mode.cc
  src/cpu/pred/bi_mode.hh
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
  src/cpu/pred/ltage.cc
  src/cpu/pred/ltage.hh
  src/cpu/pred/multiperspective_perceptron.cc
  src/cpu/pred/multiperspective_perceptron.hh
  src/cpu/pred/multiperspective_perceptron_tage.cc
  src/cpu/pred/multiperspective_perceptron_tage.hh
  src/cpu/pred/tage.cc
  src/cpu/pred/tage.hh
  src/cpu/pred/tage_base.cc
  src/cpu/pred/tage_base.hh
  src/cpu/pred/tage_sc_l.cc
  src/cpu/pred/tage_sc_l.hh
  src/cpu/pred/tournament.cc
  src/cpu/pred/tournament.hh
Labels: cpu

#2035 mem-ruby: Move GPU L1 cache MSHR to the coalescer
  src/mem/ruby/protocol/GPU_VIPER-SQC.sm
  src/mem/ruby/protocol/GPU_VIPER-TCP.sm
  src/mem/ruby/system/GPUCoalescer.cc
  src/mem/ruby/system/GPUCoalescer.hh
Labels: mem-ruby, gpu

#2091 gpu-compute: GPU protocol tester bug
  src/cpu/testers/gpu_ruby_test/tester_thread.cc
Labels: gpu-compute

#2084 gpu-compute: Implement kernarg preload
  src/gpu-compute/compute_unit.cc
  src/gpu-compute/compute_unit.hh
  src/gpu-compute/gpu_command_processor.cc
  src/gpu-compute/gpu_command_processor.hh
  src/gpu-compute/hsa_queue_entry.hh
  src/gpu-compute/kernel_code.hh
  src/gpu-compute/wavefront.cc
Labels: gpu, gpu-compute
