Repository gem5/gem5, pull requests merged in 2025-04, with the labels that each got.

#2124 use mkdtemp for tmpfile in SerializationFixture
  src/base/gtest/serialization_fixture.hh
  src/sim/serialize.test.cc
Labels: base, sim, tests

#2139 mem-ruby: Make SLICC enum FooType_to_string handle the _NUM case
  src/mem/slicc/symbols/Type.py
Labels: mem-ruby

#2158 mem-ruby: Add link name to each throttle stat
  src/mem/ruby/network/simple/SimpleNetwork.cc
  src/mem/ruby/network/simple/Switch.cc
  src/mem/ruby/network/simple/Switch.hh
  src/mem/ruby/network/simple/Throttle.cc
  src/mem/ruby/network/simple/Throttle.hh
Labels: mem-ruby

#2152 sim-se: execve: make new process inherit max stack size
  src/sim/syscall_emul.hh
Labels: sim-se

#2155 ext,tests: Fix weekly DRAMSys tests failing
  ext/dramsys/SConscript
Labels: ext

#2157 mem-ruby: Fix Ruby MemCtrl functionalRead
  src/mem/ruby/common/WriteMask.hh
  src/mem/ruby/protocol/RubySlicc_Exports.sm
  src/mem/ruby/protocol/RubySlicc_MemControl.sm
Labels: mem-ruby

#2174 mem-ruby: return early response for software prefetches
  src/mem/ruby/system/RubyPort.cc
  src/mem/ruby/system/Sequencer.cc
Labels: mem-ruby

#2177 misc: Hotfix v24.1.0.3
  RELEASE-NOTES.md
  src/Doxyfile
  src/base/random.cc
  src/base/version.cc
Labels: base, misc

#2194 arch-x86,tests: Reduce the number of X86 boot-tests
  tests/gem5/x86_boot_tests/test_linux_boot.py
Labels: tests, arch-x86

#2179 arch-riscv: Fix interupt delegation
  src/arch/riscv/interrupts.cc
  src/arch/riscv/isa.cc
  src/arch/riscv/regs/misc.hh
Labels: arch-riscv

#2202 python: Fix assert conditions and fix spelling error
  src/python/m5/proxy.py
Labels: python

#2163 arch-vega: Improved dispatch scheduler
  src/gpu-compute/schedule_stage.cc
Labels: arch-vega

#2160 configs,mem-ruby: Update ruby configs for ALL target
  configs/ruby/CHI_config.py
  configs/ruby/MESI_Three_Level.py
  configs/ruby/MESI_Three_Level_HTM.py
  configs/ruby/MESI_Two_Level.py
  configs/ruby/MI_example.py
  configs/ruby/MOESI_CMP_directory.py
  configs/ruby/MOESI_CMP_token.py
  configs/ruby/MOESI_hammer.py
  configs/ruby/Ruby.py
Labels: configs, mem-ruby

#2171 sim: Use heap allocs instead of VLAs
  src/sim/process.cc
  src/sim/syscall_emul.cc
  src/sim/syscall_emul.hh
Labels: sim

#2170 mem: Use heap allocs instead of VLAs
  src/mem/cache/compressors/multi.cc
  src/mem/ruby/network/garnet/Router.cc
Labels: mem, mem-ruby

#2167 cpu: Replace uses of variable length arrays with heap allocs
  src/cpu/o3/dyn_inst.hh
  src/cpu/testers/traffic_gen/gups_gen.cc
  src/cpu/thread_context.cc
Labels: cpu

#2168 arm: Replace variable length arrays with strings/heap allocs
  src/arch/arm/aapcs32.hh
  src/arch/arm/aapcs64.hh
  src/arch/arm/nativetrace.cc
  src/arch/generic/linux/threadinfo.hh
  src/dev/arm/gic_v3_its.cc
  src/dev/arm/gic_v3_redistributor.cc
Labels: arch-arm, dev-arm

#2169 base,systemc,python: Replace use of VLAs with heap allocs/strings
  src/base/cprintf_formats.hh
  src/base/remote_gdb.cc
  src/python/embedded.cc
  src/systemc/utils/vcd.cc
Labels: base, systemc, python

#2206 arch: addr_range: Use heap allocs instead of VLAs
  src/base/addr_range.hh
Labels: base

#2208 Use heap allocations instead of VLAs in virtio device code
  src/dev/virtio/base.cc
  src/dev/virtio/base.hh
  src/dev/virtio/console.cc
  src/dev/virtio/fs9p.cc
Labels: dev-virtio

#2189 sim: Add warning for non-default create function
  build_tools/sim_object_param_struct_cc.py
  src/python/m5/SimObject.py
  src/sim/Process.py
  src/sim/Root.py
  src/systemc/core/SystemC.py
  src/systemc/tlm_bridge/TlmBridge.py
Labels: sim

#2209 arch-x86: apply fix for pack micro-op on duplicated code
  src/arch/x86/isa/microops/mediaop.isa
Labels: arch-x86

#2210 configs,mem-ruby: Fix Directory_Controller fallback logic
  configs/ruby/Ruby.py
Labels: configs, mem-ruby

#2216 mem-ruby,scons: Disable verbose SLICC output unless flag set
  src/mem/ruby/protocol/SConscript
Labels: scons, mem-ruby

#2026 arch-riscv: fix narrowing instructions with pin µop
  src/arch/riscv/isa/formats/vector_arith.isa
  src/arch/riscv/isa/templates/vector_arith.isa
Labels: arch-riscv

#2226 systemc: Export simple arithmetic operations in sc_time pybind
  src/systemc/core/sc_time_python.cc
Labels: systemc

#2193 Fix, improve, refactor gpu-tests to improve runner testing stability
  .github/workflows/ci-tests.yaml
  .github/workflows/daily-tests.yaml
  .github/workflows/weekly-tests.yaml
  build_opts/ALL
  ext/testlib/configuration.py
  tests/gem5/gpu/README.md
  tests/gem5/gpu/test_gpu_apu_se.py
  tests/gem5/gpu/test_gpu_pannotia.py
  tests/gem5/gpu/test_gpu_ruby_random.py
  tests/gem5/gpu/test_gpu_ruby_random_wbL2.py
  tests/gem5/se_mode/hello_se/test_hello_se.py
Labels: tests

#2161 util: Add feature to update debug flags in external hypercall util
  src/python/gem5/simulate/exit_handler.py
  util/hypercall_external_signal/orchestrator-request.py
Labels: util

#2231 configs: Remove riscv/fs_linux.py deplicate --bootloader option
  configs/example/riscv/fs_linux.py
Labels: configs
