Repository gem5/gem5, pull requests merged in 2025-01, with the labels that each got.

#1858 arch-arm: Implement FEAT_S1PIE
  src/arch/arm/ArmSystem.py
  src/arch/arm/isa.cc
  src/arch/arm/mmu.cc
  src/arch/arm/mmu.hh
  src/arch/arm/pagetable.hh
  src/arch/arm/regs/misc.cc
  src/arch/arm/regs/misc.hh
  src/arch/arm/regs/misc_types.hh
  src/arch/arm/table_walker.cc
  src/arch/arm/table_walker.hh
  src/arch/arm/tlb.cc
Labels: arch-arm

#1916 arch-vega: Fix LDS/buffer load/store x2,x3,x4
  src/arch/amdgpu/vega/insts/ds.cc
  src/arch/amdgpu/vega/insts/mubuf.cc
Labels: gpu, arch-vega

#1915 arch-vega: Add SDWA to v_cmp_ne_u32
  src/arch/amdgpu/vega/insts/vopc.cc
Labels: gpu, arch-vega

#1929 Fix missing python tags
  src/arch/arm/fastmodel/SConscript
  src/mem/ruby/protocol/chi/tlm/SConscript
  src/sim/SConscript
Labels: scons, systemc

#1872 Stats Added to O3 CPU
  src/cpu/o3/lsq_unit.cc
  src/cpu/o3/lsq_unit.hh
  src/cpu/o3/rename.cc
  src/cpu/o3/rename.hh
Labels: stats

#1940 mem-cache: fixed incorrect x-o lookup address in BOP
  src/mem/cache/prefetch/bop.cc
  src/mem/cache/prefetch/bop.hh
Labels: mem

#1939 arch-arm: Do not panic if invalid TG is programmed in MMU
  src/arch/arm/table_walker.cc
Labels: arch-arm

#1947 arch-vega,gpu-compute: Fix architected flat scratch
  src/arch/amdgpu/vega/gpu_mem_helpers.hh
  src/arch/amdgpu/vega/insts/op_encodings.hh
  src/gpu-compute/wavefront.cc
Labels: gpu, arch-vega

#1948 util-docker: Update README.md and fix bugs in devcontainer Dockerfile
  util/dockerfiles/README.md
  util/dockerfiles/devcontainer/Dockerfile
Labels: util-docker

#1954 arch-vega: Fix assertion error at VIPERSequencer.cc
  src/mem/ruby/system/VIPERSequencer.cc
Labels: arch-vega
