Repository gem5/gem5, pull requests merged in 2025-08, with the labels that each got.

#2498 systemc: Fix a bug when length is 0 in get_direct_mem_ptr
  src/systemc/tlm_bridge/tlm_to_gem5.cc
Labels: systemc

#2442 tests: fix kernel panic on kvm switch tests
  tests/gem5/kvm_switch_tests/configs/boot_kvm_switch_exit.py
Labels: tests

#2502 cpu: Adapt simpoint listener to new probe structure
  src/cpu/simple/probes/simpoint.cc
  src/cpu/simple/probes/simpoint.hh
Labels: cpu

#2510 cpu-o3: Bundle some RenameStats into a vector
  src/cpu/o3/rename.cc
  src/cpu/o3/rename.hh
Labels: cpu-o3

#2507 mem: refactor Bridge to allow derived class
  src/mem/Bridge.py
  src/mem/SConscript
  src/mem/bridge.cc
  src/mem/bridge.hh
Labels: mem

#2512 cpu-o3: properly index time buffer when clearing states
  src/cpu/o3/commit.cc
Labels: cpu-o3

#2506 arch-riscv: Fix interrupt delegaton 2nd attemps
  src/arch/riscv/interrupts.cc
Labels: arch-riscv

#2481 python: Prevent SimObject from sharing reference of class member.
  src/python/m5/SimObject.py
Labels: python

#2519 misc: improvement to clang-format
  .clang-format
Labels: misc

#2515 cpu: BTB update at squash/commit option
  src/cpu/pred/BranchPredictor.py
  src/cpu/pred/bpred_unit.cc
  src/cpu/pred/bpred_unit.hh
Labels: cpu

#2516 cpu: Tage GHR out-of-bounds at rollover
  src/cpu/pred/tage_base.cc
Labels: bug, cpu

#2311 mem-ruby: return early response for software prefetches
  src/mem/ruby/system/RubyPort.cc
  src/mem/ruby/system/Sequencer.cc
Labels: mem-ruby

#2523 base,cpu: Add missing virtuals
  src/base/loader/object_file.hh
  src/cpu/pc_event.hh
Labels: base, cpu

#2484 misc: Update stats dump to have a optional message
  src/base/stats/hdf5.cc
  src/base/stats/hdf5.hh
  src/base/stats/output.hh
  src/base/stats/text.cc
  src/base/stats/text.hh
  src/python/m5/stats/__init__.py
Labels: stats, misc

#2460 mem-garnet:: Fixed uniform_random traffic
  src/cpu/testers/garnet_synthetic_traffic/GarnetSyntheticTraffic.cc
  src/cpu/testers/garnet_synthetic_traffic/GarnetSyntheticTraffic.hh
Labels: mem-garnet

#2535 base: Make dump stats message optional
  src/base/stats/hdf5.hh
  src/base/stats/output.hh
  src/base/stats/text.hh
Labels: base

#2531 misc: Some fixes from SPEC CPU development
  src/base/stats/text.cc
  src/dev/lupio/lupio_blk.cc
  src/dev/lupio/lupio_pic.cc
  src/dev/lupio/lupio_tty.cc
  src/mem/cache/mshr.cc
  src/mem/ruby/network/garnet/NetworkInterface.cc
  src/mem/ruby/network/simple/SimpleNetwork.cc
  src/mem/ruby/network/simple/Throttle.cc
  src/mem/ruby/network/simple/routing/WeightBased.cc
  src/sim/drain.cc
  src/sim/drain.hh
  src/sim/serialize.hh
Labels: sim, mem, mem-ruby, mem-garnet, base-stats, dev

#2542 misc: split single line loop
  .clang-format
Labels: misc

#2547 configs,stdlib: Ensure Resource ID arg passed to RISCV Demo Script
  configs/example/gem5_library/riscv-demo-board-run.py
  src/python/gem5/resources/resource.py
Labels: resources, configs, stdlib

#2549 Add virtual destructors
  src/base/stats/units.hh
  src/mem/protocol/atomic.hh
  src/mem/protocol/functional.hh
  src/mem/protocol/timing.hh
Labels: base, mem

#2440 configs: Update configs in configs/example/gem5_library for v25.0
  configs/deprecated/example/gem5_library/x86-parsec-benchmarks.py
  configs/example/gem5_library/arm-demo-ubuntu-run.py
  configs/example/gem5_library/arm-hello.py
  configs/example/gem5_library/arm-ubuntu-run-with-kvm.py
  configs/example/gem5_library/arm-ubuntu-run.py
  configs/example/gem5_library/caches/octopi-cache-example.py
  configs/example/gem5_library/checkpoints/riscv-hello-restore-checkpoint.py
  configs/example/gem5_library/checkpoints/riscv-hello-save-checkpoint.py
  configs/example/gem5_library/checkpoints/simpoints-se-checkpoint.py
  configs/example/gem5_library/checkpoints/simpoints-se-restore.py
  configs/example/gem5_library/dramsys/arm-hello-dramsys.py
  configs/example/gem5_library/dramsys/dramsys-traffic.py
  configs/example/gem5_library/exit_handling/user-exit-handler.py
  configs/example/gem5_library/looppoints/create-looppoint-checkpoints.py
  configs/example/gem5_library/looppoints/restore-looppoint-checkpoint.py
  configs/example/gem5_library/memory_traffic.py
  configs/example/gem5_library/multisim/multisim-fs-x86-npb.py
  configs/example/gem5_library/multisim/multisim-print-this.py
  configs/example/gem5_library/power-hello.py
  configs/example/gem5_library/riscv-demo-board-run.py
  configs/example/gem5_library/riscv-rvv-example.py
  configs/example/gem5_library/riscv-ubuntu-run.py
  configs/example/gem5_library/riscvmatched-fs.py
  configs/example/gem5_library/riscvmatched-hello.py
  configs/example/gem5_library/riscvmatched-microbenchmark-suite.py
  configs/example/gem5_library/spatter_gen/spatter-gen-test.py
  configs/example/gem5_library/x86-gapbs-benchmarks.py
  configs/example/gem5_library/x86-global-inst-tracker.py
  configs/example/gem5_library/x86-mi300x-gpu.py
  configs/example/gem5_library/x86-npb-benchmarks.py
  configs/example/gem5_library/x86-spec-cpu2006-benchmarks.py
  configs/example/gem5_library/x86-spec-cpu2017-benchmarks.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm-no-perf.py
  configs/example/gem5_library/x86-ubuntu-run-with-kvm.py
  configs/example/gem5_library/x86-ubuntu-run.py
Labels: configs
